-#
-# @navigation[:local] can be an array of NavigationItems, or it could just
-# be an array of hashes, each with keys :active, :label, and :url.
-#
-# each element, ul, li, and <a> get the class 'nav'. This helps us distinguish 
-# the navigation elements from other ul, li, and <a>'s that might be around.
-#

%ul.nav
  - @navigation[:local].each do |item|
    - next unless item[:visible]
    - active = item[:active] ? 'active' : ''
    %li{:class => [active, 'nav', 'round-left']}
      - if item[:html]
        %div{:class => [active, 'nav']}
          = theme_render(item[:html])
      - elsif item[:icon]
        = link_to_active(content_tag(:span, item[:label], :class => "icon inline #{item[:icon]}_16"), item[:url], item[:active], :class => 'nav')
      - else
        = link_to_active(item[:label], item[:url], item[:active], :class => 'nav')
 

