= render partial: 'gallery_navigation'

%h2=h @image.caption
.gallery-item{align: "center"}
  = render partial: 'show_image'

%span
  %p.meta.image-counting{align: "center"}= gallery_display_image_position