#upload-template(style="display:none")
  = render :partial=>'asset_page/file_field', :locals => {:size => 25}
= render :partial=>'asset_page/file_field', :locals => {:size => 25}

#add_file_field.action
  %a(onclick="addFileField();")
    =I18n.t(:add_another_file)

= render :partial => 'common/progress_bar/bar'

