#middle {
  background-color: $background_color;
}

//
// The gutter width is typically 30px, so each column gets 15px side margins.
// We want the actual outside margin to be 20px ($gap-margin).
//
#middle_container {
  padding-left: $gap-margin - $grid-gutter-width/2;
  padding-right: $gap-margin - $grid-gutter-width/2;
  padding-top: $gap-margin;
  padding-bottom: $gap-margin;
}

// a simple max-width centered blocks.
// used for things like login, sign up, 404, etc.

.col-xl-center {
  @extend .center-block;
  max-width: 45em;
}
.col-lg-center {
  @extend .center-block;
  max-width: 35em;
}
.col-sm-center {
  @extend .center-block;
  max-width: 25em;
}
.col-xs-center {
  @extend .center-block;
  max-width: 15em;
}
