//
// THE BANNER
//

// the space between the avatar and the avatar border
$banner_avatar_spacer: 2px solid white;

// the width of the avatar border
$avatar_border_width: border_width($banner_avatar_spacer) + border_width($banner_border);

// the base offset between the left edge of the banner and the start of the first tab.
// this base has the current avatar's width added to it to get the final offset.
$base_margin: ($avatar_border_width * 2) + (($banner_padding - border_width($banner_border)) * 2);

//
// BANNER
//

#context_banner {
  background: $banner_default_background;

  a.tab {
    color: $banner_default_foreground;
  }

  // for different size banners we need different first tab margins.
  // not so clean, but at least no magic numbers.
  &.large  {ul#banner_nav_ul li.tab.first {margin-left: $icon_large  + $base_margin;}}
  &.medium {ul#banner_nav_ul li.tab.first {margin-left: $icon_medium + $base_margin;}}
  &.small  {ul#banner_nav_ul li.tab.first {margin-left: $icon_small  + $base_margin;}}

  @if $banner_css { @include banner_css; }
  @if $banner_shadow { @include banner_shadow; }
}

//
// BANNER BORDER
//

#context_banner {
  border: $banner_border;
  @if $ui_border_radius {
    @include border-radius($ui_border_radius);
  }
  &.dark_border {
    border: $banner_border_dark;
    a.avatar {
      outline: $banner_border_dark;
    }
    //
    // this way of setting border on tabs is hackish and may
    // need to change if the implementation of cutout_menu() changes
    //
    ul#banner_nav_ul li.tab a.tab.active {
      border: $banner_border_dark;
      border-bottom: 0;
    }
  }
}

//
// BANNER CONTENT
//

#banner_content {
  padding: $banner_padding;
  overflow: auto; // to catch floated a.avatar

  @if $ui_border_radius {
    @include border-radius($ui_border_radius);
  }

  a.avatar {
    margin-right: $banner_padding;
    border: $banner_avatar_spacer;
    outline: $banner_border;
    display: block;
    float: left;
    //img {
    //  border: $banner_avatar_spacer;
    //  outline: $banner_border;
    //  // this is necessary for the img to not have a gap under it
    //  vertical-align: middle;
    // }
  }

  .title {
    color: $banner_default_foreground;
    font-size: $banner_font_size;
    line-height: 1.8;
  }

  a.title {
    @include cg-hover-link;
  }
}

//
// UGH, we have a better way to do this now. we just set the line-height equal to the avatar size.
//
// vertically centered banner
//
// It takes a bit of work to center both the avatar image and the banner text.
// For font sizes 24px or below, the banner text is already pretty spot on centered.
// When it gets bigger, however, it does not look so good without all this extra css.
//
// currently, this works, but requires a hardcoded 64px for the size of the
// avatar.
//
// This is another example of where tables would be 10x easier.
//

//@if $banner_vertical_align == 'center' {
//  #banner_content {
//    // this prevents the enclosed floated divs from extending outside the banner
//    // (any value of overflow will do the trick)
//    overflow: hidden;
//
//    // required for center-vertically on a.title
//    position: relative;
//
//    // both the title and the avatar are floated left so that the title can be
//    // a block. why do we want the title to be a block? that is the only way to
//    // vertically align it.
//    a.title, a.avatar {
//      display: block;
//      float: left;
//    }
//
//    a.title {
//      font-size: $banner_font_size;
//      @include center-line-vertically($banner_font_size);
//      @include center-vertically($banner_font_size);
//      left: $banner_padding + 64px + $banner_padding;
//    }
//  }
//}

//
// vertically aligned top
//

@if $banner_vertical_align == 'top' {

}

//
// cutout menus
//

@if $banner_nav_style == 'cutout' {
  #context_banner {
    $ul_id: 'banner_nav_ul';
    @include cutout_menu($ul_id, 0, $background_color, $banner_border);
    a.tab.active {
      color: inherit;
      // override any text shadow that might be applied because of the banner background:
      text-shadow: inherit !important;
    }
    margin-bottom: gutter();
  }
}

//
// small screen
//

@media only screen and (max-width: 590px), only screen and (max-height: 400px) {
  //
  // i dont know what to do about the context banner tabs, they dont work
  // look very nice on small screen. this is a hacky attempt to squish them.
  //
  #context_banner {
    //a.avatar img {
    //  // it would be better to instead make visible a version with 32px size.
    //  height: 32px;
    //  width: 32px;
    //}
    .title {
      font-size: 1.1em;
    }

    // the avatar icon is always small
    &.large  {ul#banner_nav_ul li.tab.first {margin-left: $icon_small + $base_margin;}}
    &.medium {ul#banner_nav_ul li.tab.first {margin-left: $icon_small + $base_margin;}}
    &.small  {ul#banner_nav_ul li.tab.first {margin-left: $icon_small + $base_margin;}}

    // replace text with icons
    ul#banner_nav_ul {
      li.tab a.tab {
        padding: 0px;
        line-height: inherit;
        height: inherit;
        .text { display: none }
        .mobi_icon { display: block; }
      }
    }
  }
}

