$body_css: false !default;

body {
  @if $footer_background_color {
    background-color: $footer_background_color;
  } @else {
    background-color: $background_color;
  }
  @if $body_css { @include body_css; }
}

#middle_container, #footer_container {
  //@include column-container;
}

@if $masthead_style == 'grid' {
  // there is only an enclosing container for the 'grid' style.
  #masthead_container {
    //@include column-container;
  }
}

// .max-width-column-container {
//   *zoom: 1;
//   margin-left: auto;
//   margin-right: auto;
//   width:
//   max-width: 100%;
// }

