//
// FOOTER
//
// if there is a background color set for the footer, it is set in the body, and
// we keep the footer transparent.
//

#footer {
  padding: gutter();
  padding-top: 15px; // what variable should be used here?

  @if $footer_border { border-top: $footer_border; }
  #footer_content {
    @if $footer_column_count == 1 {
      //@include center-span;
    }
    @else if $footer_column_count == 2 {
      $col: $grid_column_count / 2;
      .column1 {
        //@include column-span($col);
      }
      .column2 {
        //@include column-span($col);
      }
      .full {
        //@include center-span;
      }
    }
    @else if $footer_column_count == 3 {
      $col: $grid_column_count / 3;
      .column1 {
        //@include column-span($col);
      }
      .column2 {
        //@include column-span($col);
      }
      .column3 {
        //@include column-span($col);
      }
      .full {
        //@include center-span;
      }
    }
  }
}

