//
// FOOTER
// 
// if there is a background color set for the footer, it is set in the body, and 
// we keep the footer transparent.
//

#footer {
  width: 100%;
  @if $footer_border { border-top: $footer_border; }
  #footer_content {
    @if $footer_column_count == 1 {
      @include full;
    }
    @else if $footer_column_count == 2 {
      $col: $grid_column_count / 2;
      .column1 { 
        @include alpha;
        @include columns($col);
      }
      .column2 {
        @include omega;
        @include columns($col);
      }
      .full {
        @include alpha;
        @include full;
      }
    }
    @else if $footer_column_count == 3 {
      $col: $grid_column_count / 3;
      .column1 { 
        @include alpha;
        @include columns($col);
      }
      .column2 {
        @include columns($col);
      }
      .column3 {
        @include omega;
        @include columns($col);
      }
      .full {
        @include alpha;
        @include full;
      }
    }
  }
}

