$center_columns: $grid_column_count - $local_nav_column_count;

div#local {
  // for when there is no banner:
  margin-top: gutter();
}

#column_center.full {
  @include full;
  article#content {
    padding: resolve_width($local_content_padding, $grid_column_count);
  }
}

#column_center.with_left {
  @include omega;
  @include columns($center_columns);
  article#content {
    padding: resolve_width($local_content_padding, $center_columns);
  }
}

@if $local_nav_style == 'tabs' {
  //
  // side tab navigation
  // make the sidebar navigation look like vertical tabs
  //

  #column_left {
    @include alpha;
    @include columns-eat-gutter($local_nav_column_count);
  }

  nav#local_nav {
    li {
      text-align: right;
      @if border_width($local_content_border) > 0px {
        border: border_width($local_content_border) "solid transparent";
      }
      &.active {
        border: $local_content_border;
        background: $local_content_background;
        border-right: 0;
      }
    }
    li a {
      padding: resolve_width($local_nav_padding, $local_nav_column_count) / 2;
      padding-right: resolve_width($local_nav_padding, $local_nav_column_count);
      display: block;
      @include hover-link;
      &.active {
        background: $local_content_background;
        @if border_width($local_content_border) > 0px {
          // shift the tab slightly to the right to make it flush
          // with the content.
          position: relative;
          left: border_width($local_content_border);
        }
      }
    }
  }

} @else {

  #column_left {
    @include alpha;
    @include columns($local_nav_column_count);
  }
  nav#local_nav {
    li a {
      padding: resolve_width($local_nav_padding, $local_nav_column_count);
    }
  }

}


article#content {
  border: $local_content_border;
  background: $local_content_background;

  // i don't know how well supported this is, but it makes everything
  // look much better in modern browsers.
  min-height: 10em;

  // this is an optional title for the content area.
  // ideally, it should be heading.title, but it doesn't have to be.
  .title {
    margin-bottom: resolve_width($local_content_padding, $center_columns);
    display: block;
  }

  // allows us to have floated columns within the #content
  @include clearfix;
}



