
#column_center {
  @if $local_content_shadow { @include local_content_shadow; }
  @if $ui_border_radius {
    @include border-radius($ui_border_radius);
  }
}

//
// FULL WIDTH
//

#local.full_width {
  $center_columns: $grid_column_count;
  $padding: resolve_width($local_content_padding, $center_columns);

  .title { margin-bottom: resolve_width($local_content_padding, $center_columns) }

  #column_center {
    @include full;
    article#content, #title { padding: $padding }
    .section_spacer { height: $padding; }
  }
}

//
// SIDEBAR LAYOUT
//

#local.sidebar {

  $center_columns: $grid_column_count - $local_nav_width;
  $padding: resolve_width($local_content_padding, $center_columns);
  #title {
    // margin-bottom: $padding;
    padding: $padding;
  }
  article#content { padding: $padding; }
  .section_spacer   { height: $padding; }

  &.on_left {
    #column_center {
      @include omega;
      @include columns($center_columns);
    }

    @if $local_nav_style == 'tabs' {
      //
      // side tab navigation
      // make the sidebar navigation look like vertical tabs
      //

      #column_left {
        @include alpha;
        @include columns-eat-gutter($local_nav_width);
      }

      nav#local_nav li {
        @if border_width($local_content_border) > 0px {
          border: border_width($local_content_border) "solid transparent";
        }
        &.active {
          border: $local_content_border;
          background: $local_content_background;
          @if $local_content_css { @include local_content_css; }
          @if $local_content_shadow { @include local_content_shadow; }
          border-right: 0;
        }
        a {
          @include cg-hover-link;
          text-align: right;
          display: block;
        }

        // a.nav and div.nav are used to give the tab its padding to create the
        // illusion of a tab. a.nav should normally be the one used, but sometimes
        // we want a tab that doesnt have links.
        a, div {
          padding: resolve_width($local_nav_padding, $local_nav_width) / 2;
          padding-right: resolve_width($local_nav_padding, $local_nav_width);
          &.active {
            background: $local_content_background;
            @if border_width($local_content_border) > 0px {
              // shift the tab slightly to the right to make it flush
              // with the content.
              position: relative;
              left: border_width($local_content_border);
            }
          }
        }

        // this is a funky edge case where we have a.nav inside div.nav.
        // it is rare, but for now we need this hackishness.
        div > a {
           padding: 0;
        }
      }

    } @else {

      #column_left {
        @include alpha;
        @include columns($local_nav_width);
      }
      nav#local_nav {
        li a {
          padding: resolve_width($local_nav_padding, $local_nav_width);
        }
      }
    }
  }

  &.on_right {
    #column_center {
      @include alpha;
      @include columns($center_columns);
    }
    #column_right {
      @include omega;
      @include columns($local_nav_width);
    }
  }
}

//
// SIDECOLUMN LAYOUT
//

#local.sidecolumn {

  $center_columns: $grid_column_count - $local_sidecolumn_width;
  $padding: resolve_width($local_content_padding, $center_columns);

  #title { margin-bottom: $padding }
  article#content { padding: $padding }
  .section_spacer   { height: $padding; }

  &.on_left {
    #column_center {
      @include omega;
      @include columns($center_columns);
    }
    #column_left {
      @include alpha;
      @include columns($local_sidecolumn_width);
    }
  }

  &.on_right {
    #column_center {
      @include alpha;
      @include columns($center_columns);
    }
    #column_right {
      @include omega;
      @include columns($local_sidecolumn_width);
    }
  }
}

//
// TITLE
//

#local #title {
  display: block;
}

//
// CONTENT
//

article#content {
  border: $local_content_border;
  background: $local_content_background;

  // i don't know how well supported this is, but it makes everything
  // look much better in modern browsers.
  min-height: 20em;

  // allows us to have floated columns within the #content
  @include clearfix;

  @if $local_content_css { @include local_content_css; }
}


//
// NOTICE
// (a special layout used to display centered notices, and nothing else)
//

#center {
  margin: 5% 10%;
}


