//
// #middle is a top level div that holds everything under the masthead and above the footer.
//

#middle {

  // if the footer is a different color then we make the body color to be
  // the color of the footer, and then color #middle to be our 'background'.
  // this is awkward, but seems to be the most compatible way of getting a colored
  // footer without buggy absolute positioning.
  @if $footer_background_color {
    background-color: $background_color;
  }

  padding: gutter();
  padding-top: 0;

  // TODO: move the spacing between masthead and middle to
  //@if $masthead_nav_style != 'cutout' {
    // remove the gap
    //padding-top: 0;
  //}

  // this glass is applied to either the #context_banner (or #local if no banner)
  .gap-under-masthead {
    margin-top: resolve-width($masthead_bottom_gap);
  }
}


