
$sidebar_padding: resolve_width($local_content_padding, $local_sidecolumn_width);

.sidebox {
  border: $background_slight_border;
  @if $ui_border_radius { @extend .round }
  background: $background_lighter_color;
  margin-bottom: gutter($local_sidecolumn_width);
  .padded {
    padding: $sidebar_padding;
  } 
  ul.entities {
    &:first-child li.header {
      margin-top: 0;
    }
    &:last-child li:last-child {
      margin-bottom: 0;
    }
    li {
      margin: 4px 0;
      &.header {
        margin-top: $local_sidecolumn_icon_size_px/2;
        border-bottom: 1px dotted #bbb;
        font-size: 80%;
        font-weight: bold;
        color: #333;
        text-transform: uppercase;
      }
    }
  }
}