//
// this is how we can support small screens, like mobile phones, with conditional
// css. this actually works in recent browsers, and is super cool.
// 

.big_screen   {display: inherit;}
.small_screen {display: none;}

//
// if HEIGHT or WIDTH is small
//

@media only screen and (max-width: 590px), only screen and (max-height: 400px) {

  .big_screen   {display: none;}
  .small_screen {display: inherit;}

  .mobi_icon {
    background-repeat: no-repeat;
    background-position: 50% 50%;
    width: 30px;
    height: 24px;
  }

  // notice pages center the text in the middle.
  // but we want to reduce the border for small screens.
  #center {
    margin: 2%;
  }

}


//
// if HEIGHT is small
//

@media only screen and (max-height: 400px) {
//  #context_banner {
//    a.avatar img {
//      // it would be better to instead make visible a version with 32px size.
//      height: 32px;
//      width: 32px;
//    }
//    a.title {
//      font-size: 1.1em;
//    }
//  }
}

//
// if WIDTH is small
//

@media only screen and (max-width: 590px) {

  //
  // split panel
  //
  .split_panel {
    .panel_left {
      width: 100% !important;
      float: none;
    }
    .panel_right {
      width: 100% !important;
      margin-left: 0 !important;
      float: none;
    }
  }

  //
  // shaded table
  //
  table.shaded {
    td.reflow {
      display: block;
      border-top: 0;
    }
  }
}


