//
// this is how we can support small screens, like mobile phones, with conditional
// css. this actually works in recent browsers, and is super cool.
// 

@media only screen and (max-width: 590px), only screen and (max-height: 400px) {

  // 
  // i dont know what to do about the context banner tabs, they dont work
  // look very nice on small screen. this is a hacky attempt to squish them.
  //
  #context_banner {
    a.avatar img {
      // it would be better to instead make visible a version with 32px size.
      height: 32px;
      width: 32px;
    }
    a.title {
      font-size: 1.1em;
    }
    ul#banner_nav_ul {
      // 32px = width of avatar
      // 6px = width of avatar border
      margin-left: 32px + 6px + $banner_padding;
    }
    @if $banner_nav_style == 'cutout' {
      ul#banner_nav_ul {
        a.tab {
          max-width: 2em;
          overflow: hidden;
          // font-size: 0.8em;
        }
      }
    }
  }

}


//@media only screen and (max-height: 400px) {
//  #context_banner {
//    a.avatar img {
//      // it would be better to instead make visible a version with 32px size.
//      height: 32px;
//      width: 32px;
//    }
//    a.title {
//      font-size: 1.1em;
//    }
//  }
//}

