#title_box {
  background-color: $local_title_background;
  border: $local_title_border;
  border-bottom-width: 0;
}



// disabled
//
//  background-color= !title_box_bg_color
//  border-bottom= "1px solid" !title_box_border_color
//  padding: 1em
//  &.tabs
//    padding: 0
//    overflow: hidden
//    border-bottom: 0
//    h1
//      margin: 0.5em
//  ul.nav-tabs.top a.active
//    background-color= !info_box_bg_color
//  .summary
//    color: #555
//  h1
//    color= !title_box_heading_color
//    margin: 0
//    span
//      margin-left: 3em
//  .breadcrumb
//    padding-bottom: 0.25em
//    a
//      text-transform: capitalize
//
//  // the navigation bar
//  ul.navbar
//    margin: 1em 0em 1em 0em
//    padding: 0 0 0.25em 0
//    list-style: none
//    width: auto
//
//  // the menu names
//  li.navbar_menu
//    float: left
//    margin: 0
//    position: relative
//    span.navbar_item
//      border: 0
//      position: relative
//      a
//        display: block
//        font-weight: 400
//        border-right: none
//        background-color: #FBFDFF
//        border-color: #D4E3F5 #D4E3F5 #89BBEC #D4E3F5
//        border-style: solid none solid solid
//        border-width: 1px
//        font-weight: bold
//        font-size: smaller
//        //!navbar_border_color
//        color= #4978BC
//        padding: 0.5em 0.75em
//        text-transform: capitalize
//        &:hover
//          background-color: #F6FAFF
//    &:last-child span.navbar_item a
//      border-right: 1px solid #89BBEC
//      -webkit-border-top-right-radius: 4px
//      -webkit-border-bottom-right-radius: 4px
//      -moz-border-radius-topright: 4px
//      -moz-border-radius-bottomright: 4px
//    &:first-child span.navbar_item a
//      -webkit-border-top-left-radius: 4px
//      -webkit-border-bottom-left-radius: 4px
//      -moz-border-radius-topleft: 4px
//      -moz-border-radius-bottomleft: 4px
//      //&:hover
//      //  background= !menu_item_active_fg_color
//      //  color= !menu_item_active_background
//
