= formy(:table_form) do |f|
  - f.row do |r|
    - r.label I18n.t(:visibility)
    - r.checkboxes do |list|
      - publicly_visible_checkbox(list)
      - committee_publicly_visible_checkbox(list)
      - networks_publicly_visible_checkbox(list)
      - group_members_publicly_visible_checkbox(list)
  - f.row do |r|
    - r.classes 'depends_on_view'
    - r.style 'display:none' if group_hidden?
    - r.label I18n.t(:membership)
    - r.checkboxes do |list|
      - allow_membership_requests_checkbox(list)
      - open_membership_policy_checkbox(list)
  - if may_create_group_council?
    - f.row do |row|
      - row.label I18n.t(:administration)
      - council_field(row)
  - if @group.has_a_council?
    - f.row do |row|
      - row.label I18n.t(:group_wiki)
      - row.checkboxes do |list|
        - members_may_edit_wiki_checkbox(list)
