-# i don't approve of all these being in the helper.

#permissions_area
  = formy(:simple_form) do |f|
    - f.label :visibility.t
    - input publicly_visible_checkbox(f)
    - group_members_publicly_visible_checkbox(f)
    - committee_publicly_visible_checkbox(f)
    - networks_publicly_visible_checkbox(f)

    - f.label :membership.t
    - allow_membership_requests_checkbox(f)
    - open_membership_policy_checkbox(f)

    -# removed for now. better not to have this in two places.
    -# if may_create_council?
    -# f.heading :administration.t
    -# council_field(f)

    - if @group.has_a_council?
      - f.heading :group_wiki.t
      - members_may_edit_wiki_checkbox(f)
