= formy(:table_form) do |f|
  - @locks.each do |lock|
    - f.row do |r|
      - r.label permission_lock_label(lock)
      - r.input permission_lock_tag(lock, @keys)
      - r.info  permission_lock_info(lock)

.key
  = formy(:dictionary) do |f|
    - f.title :permissions_key.tcap + ':'
    - @keys.each do |key|
      - f.row do |r|
        - r.label permission_holder_label(key.holder)
        - r.info permission_holder_info(key.holder)

