%tr{:class => cycle('odd', 'even'), :id => dom_id(membership)}
  %td= link_to_entity (membership.is_a?(Membership) ? membership.user : membership.group), :avatar => 'small'
  %td= friendly_date membership.created_at
  %td= destroy_membership_link(membership) if membership.is_a?(Membership)

