- if logged_in?
  - entities = current_user.primary_groups.most_active
  = render partial: '/layouts/global/nav/boxes',
      locals: { id: 'groups',
        entities: entities.sort_by{|g| g.display_name.downcase},
        heading: I18n.t(:my_groups),
        see_all_url: groups_directory_path(path: ['my']) }

