- if logged_in?
  - menu = current_theme.navigation.root.seek(:me)
  %ul.dropdown-menu(style="display:none")
    - menu.each do |item|
      %li
        = link_to item.label, item.url, :icon => item.icon

