- if logged_in?
  - entities = current_user.friends.most_active
  = render '/layouts/global/nav/boxes', id: 'people',
    entities: entities.sort_by{|u| u.display_name.downcase},
    heading: I18n.t(:my_contacts),
    see_all_url: people_directory_path(path: 'contacts')


