-# locals:
-#
-#  style -- one of table or mini (used for recent pages in me menu)

- style = local_assigns[:style] || 'table'
- pages = local_assigns[:pages] ||= @pages.select{|page| page.owner_id and page.owner_name != 'none'}
- classes = ['page_list', (style == 'table' ? 'table-responsive' : style)]

%section{class: classes}
  = render "/common/pages/list_as_#{style}", local_assigns
