-# locals:
-#
-#  style -- one of table, rows, grid, blog. if not set, we use @path to
-#           which one to use.

- style_from_path = case @path.try(:arg_for, 'view'); when 'compact' then 'table'; when 'detailed' then 'rows'; when 'grid' then 'grid'; end
- style = local_assigns[:style] || style_from_path || 'table'
- pages = local_assigns[:pages] ||= @pages.select{|page| page.owner_id and page.owner_name != 'none'}
- paginate = false # pages.respond_to?(:total_entries)
- paginate_options ||= {}
- classes = ['page_list', ('table-responsive' if style == 'table'), (style if style != 'table')]

%section{class: classes}
  = render "/common/pages/list_as_#{style}", local_assigns
  - if paginate
    = pagination_links( pages, paginate_options )
