- ##
- ## displays a list of pages in a table (ie, using rows and columns).
- ##

%table.table.table-striped
  - if pages.empty?
    %tr
      %td= :no_search_results.t
  - else
    = render 'common/pages/table_header'
    = render pages, style: :table_row

= pagination_links(@pages)
