- ##
- ## displays a list of pages in a table (ie, using rows and columns).
- ##
-
-  heading = true if heading.nil?
-  sortable = false

%table.table
  - if pages.empty?
    %tr
      %td= :no_search_results.t
  - else
    - if heading
      = render 'common/pages/table_header'
    = render_pages pages, style: :table_row
.p
  = pagination_links(@pages)
