%tr
  %th.owner.hidden-xs
    = :owner.tcap
  %th.page_icon
  %th.title
    = :title.tcap
  %th.public_private
  %th.updated{colspan: 2}
    = :updated.tcap
  %th.contributors.hidden-xs
    = image_tag '/images/ui/person-dark.png'
