#title.page_title.shy_parent
  %h1
    = @page.title
    - if may_update?(@page)
      = link_to_modal :edit_title.t.titleize, edit_page_title_path(@page),
        class: 'shy inline plain',
        icon: 'pencil'
  - if @page.summary.present?
    .summary= @page.summary
  - if @title_addendum
    = @title_addendum
