.sidebox
  .padded
    = render 'sidebox'
    - if policy(@group).may_show_affiliations?
      = render 'group/structures/show_in_sidebar'
    - if policy(@group).may_list_memberships?
      = render 'memberships'


