- if !params[:type]
  = render partial: 'choose_group_type'
- elsif params[:type] == 'committee' or params[:type] == 'council'
  = render partial: 'choose_parent_group'
- else
  = render partial: 'group/structures/new_form'
