%ul.locks.list_as_cols
  - @locks.each do |lock|
    %li.lock
      = lock
      %ul.keys{:id => "keys_for_#{lock}"}
        = render :partial => '/me/permissions/key', :collection => @keys, :locals => {:lock => lock}
- #render '/permissions/accessor_form/'
