log
tmp
.DS_Store
.idea
.AppleDouble
:2eDS_Store
:2e_*
config/crabgrass/secret.txt
config/crabgrass/crabgrass.production.yml
config/database.yml
config/sphinx/*.conf
config/sphinx/*.sphinx.conf
config/transifex.netrc
doc/api
doc/app
doc/coverage
doc/guides
*~
db/*.sqlite3
test.sqlite
db/*.sql
db/sphinx
db/development_structure.sql
/assets
public/assets
public/avatars
public/pictures
public/static
public/stylesheets/compiled
public/theme
.sass-cache
.sass-cache/*
lang/la_US.yml
tmp/webrat-*
webrat-*.png
webrat-*.html
*#
#*
vendor/crabgrass_plugins/castle_gates/test/tests.sqlite
*.swp
vendor/bundle
.bundle
bin/
.byebug*
