language: ruby
rvm:
  - 1.9.3
before_install:
  - "bundle --version"
  - sudo apt-get update
  - sudo apt-get install -y graphicsmagick
  - sudo apt-get install -y libreoffice-common
  - sudo apt-get install -y sphinxsearch
  - sudo apt-get install -y inkscape
before_script:
  - "rake create_a_secret"
  - "cp config/database.yml.example config/database.yml"
  - "rake db:create"
  - "rake db:schema:load"
  - "rake db:test:prepare"
  - "rake RAILS_ENV=test db:fixtures:load"
  - "rake RAILS_ENV=test ts:index ts:start"
notifications:
  email: false

