- possible_id        = dom_id(possible)
- possible_edit_id   = "#{possible_id}_edit"
- possible_show_id   = "#{possible_id}_show"

%li.list-group-item.handle[possible]
  %div{:id => possible_show_id}
    = render :partial => 'ranked_vote_possibles/possible_show', :locals => {:possible => possible}
  %div{:id => possible_edit_id, :style => 'display: none'}

