- links = []
- if @response
  - if @response.user_id != current_user.id
    - links << link_to(:pagination_previous.t, response_path(@response, page_id: @page, jump: 'prev'))
    - links << link_to(:return.t, responses_path(page_id: @page))
    - links << link_to(:next.t, response_path(@response.id, @page, jump: 'next'))
  = link_line(*links)
  = render partial: 'show_response'
- else
  = :no_search_results.t
