-#
-# displays the language selection menu, but only once.
-#

- unless @language_form_already_rendered
  - form_tag( language_path, {:style=>'display: inline'}) do
    %fieldset
      = select_tag 'id', options_for_language, :onchange => 'this.form.submit();'
  - @language_form_already_rendered = true

