-# please do not add here a list of current participants: it makes pages with many participants impossibly slow. Also, it creates very complicated and buggy page sharing logic.
%table.styled
  %tbody.autocomplete_results_table#share_page_recipient_table


