- type = 'send' if type.nil?
- notify = true if notify.nil?

.share_page
  %h2.first= I18n.t(:share_page_recipients, :page_class => I18n.t(:page))
  = render :partial => 'pages/shares/add_recipient_widget'
  - if notify
    %h2= I18n.t(:notify_page_link)
    %table.notify
      = render :partial => 'pages/shares/notification_message_form'

