= formy(:tabs, class: 'flat') do |f|
  - f.tab do |t|
    - t.label :share.t
    - t.show_tab 'share_tab'
    - t.selected true
  - f.tab do |t|
    - t.label :permissions.t
    - t.show_tab 'permissions_tab'
    - t.selected false

#share_tab.tab_content.tab_area
  = render partial: 'pages/shares/share_form'

#permissions_tab.tab_content.tab_area{style:'display:none'}
  = render partial: 'pages/participations/permissions'
  .buttons= close_modal_button
