#preview_wrapper
  #preview_area{:class => preview_area_class(@asset)}
    - if @asset.embedding_partial.any?
      = render :partial => @asset.embedding_partial
    - else
      = thumbnail_link_to_asset(@asset, :large)

= render :partial => 'information'

