= form_tag(me_password_path, :method => 'put') do 
  = formy(:simple_form) do |f|
    - f.row do |r|
      - r.label :new_password.t
      - r.input password_field('user', 'password')
    - f.row do |r|
      - r.label :confirm_new_password.t
      - r.input password_field('user', 'password_confirmation')			  
    - f.buttons do |b|
      - b.button submit_tag(:save_button.t, :class => 'btn btn-primary')