-# if there is only one section in your content you might want to
-# render this partial in the title (content_for :title do...)
%h2
  =t section, scope: :headings, cascade: true
  %small
    =t section, scope: "headings.info", default: ""
