.row.search.pull-right#user_search
  = form_tag people_directory_path,
    id: 'user_search_form',
    method: :get,
    remote: true,
    class: 'form-search' do
    #autocomplete_container.input-append
      = autocomplete_input_tag 'q', 'users',
        value: @filter,
        id: 'autocomplete_people',
        class: 'search-query',
        placeholder: "Type in a user name"
      %button.btn.btn-primary(type="submit") Search
#user_list
