.directory
  - @users.count.times do |i|
    - user = @users[i]
    - if user
      .entry
        = render partial: 'user', locals: {user: user}
    - if @users[i+1]
      .divider

= pagination_links(@users, params: params.except(:utf8))
