:ruby
  icon_classes = File.read(RAILS_ROOT + '/public/stylesheets/icon_png.css').
  collect do |line|
    line.sub(/^([^\s]*)\s.*$/,'\1').chop[1..-1]
  end
 
%ul
  - for icon_class in icon_classes
    %li{:class => [icon_class, 'icon']}
      = icon_class


