%style
  :sass
    
    .icon
      outline: 1px solid #ccc
    
    .icon
      background-repeat: no-repeat !important
      background-position: 0 50% !important
     
    .small
      padding-left: 20px !important
      &.inline
        padding: 1px 0
        
    .large
      padding-left: 36px !important
      background-image: url(/images/default/32.jpg)
      &.single.block, &.single.inline-block
        line-height: 32px
        height: 32px
        overflow: hidden
      &.multi.block, &.multi.inline-block
        min-height: 32px
      &.inline
        opacity: 0.5

    .block
      display: block
    .inline
      display: inline
    .inline-block
      display: inline-block
    
    table td, table th
      padding: 20px
      border: 1px dotted #ccc
    td.good
      background: #dfd
    td.bad
      background: #fdd
    td.ok
      background: #ffd

%table
  %tr
    %th   
    %th inline
    %th block
    %th inline-block
  %tr
    %td 1 line, small icon
    %td.good
      .icon.single.small.inline.info_16 aa aaaa aaaaa aaaaa
      %br padding 1px
    %td.good
      .icon.single.small.block.info_16 bbb b b bbbbbbb bbbbb bb
      no hacks
    %td.good
      .icon.single.small.inline-block.info_16 ccccc cc cccc
      %br no hacks
  %tr
    %td 1 line, big icon
    %td.bad
      .icon.single.large.inline dddddd dddd ddd
      %br nothing works well, avoid.
    %td.ok
      .icon.single.large.block eeee eeee eeeeeeeee ee
      line-height 32px, height 32px, error: multi line overflow is hidden
    %td.ok
      .icon.single.large.inline-block fffff ffff ffffffff ffff fff
      %br same as block
  %tr
    %td multi line, small icon
    %td.good
      .icon.small.inline.color_wheel_16 gggg gggg g gg ggg ggggggg gggg gggg ggg gggg ggg ggg g ggggg gg g g 
      %br
      .icon.small.inline.color_wheel_16 gggg gggg g gg
      %br
      padding 1px
    %td.good
      .icon.small.block.color_wheel_16 hhhh hhhh hhhh hh hhhhhhhh hhhhh hhhhh hhhhhhh hhhhh hhhh hhhh hhhhh hh
      .icon.small.block.color_wheel_16 hhhh hhhh hhhh hh
      no hacks
    %td.good
      .icon.small.inline-block.color_wheel_16 iiii iiii ii i i iiiiiiii iiiii ii i iiiii ii iiiii iiii iiiiiii
      %br
      .icon.small.inline-block.color_wheel_16 iiii iiii ii
      %br
      no hacks
  %tr
    %td multi line, big icon
    %td.bad
      .icon.large.multi.inline jjjjjj jjjjj jjjjjj jjjj jjjjj jjj j j jjjjjjjj jjjjj jjjjj jjj j jjj j jj jjj
      %br nothing works well, avoid.
    %td.ok
      .icon.large.multi.block kkkk kkkkkkkkkkk kkkkkkk kkkkkkkk k kk k kkkkk kk k kkkkkk kkkkkk kkkkk kkkk
      .icon.large.multi.block kkkk kkkkkkkkkkk
      min-height 32px, error: text not centered if only one line of text.
    %td.ok
      .icon.large.multi.inline-block llll lllllllll lllll llllll lll llll lllll l llll l l llllllllll l ll llll
      %br
      .icon.large.multi.inline-block llll lllllllll
      %br same as block

.p notes

.p small icon, inline: setting a 1px padding seems to change the rendering algorithm in such a way that the icon is more vertically centered on the text.

.p big icon, 1 line: together, setting line-height and height will center the text on the icon, give the icon enough space, and ensure that we don't break across multiple lines (multiple lines look bad when line-height is set).

.p big icon, multi-line: min-height allows the icon to be visible, but does not center the icon vertically if there is only one line of text.
