- content_for :title do
  %h1
    = h :welcome_title.t(site_title: current_site.title)
  = to_html first_present(:welcome_login_message.t, :welcome_message.t)
- if !logged_in? 
  = render partial: 'session/login_form'



