- content_for :left_column do
  = render 'sidecolumn'

-#
-# super temporary... should be replaced by a simple widget system.
-#

- if @pages
  %h2.p.first= :recent_pages.t
  .without_owner
    = render 'common/pages/list'
- else
  %h2.p.first= :private_profile.t # TODO: give more info
