// resets and libraries
@import "compass/reset";
@import "compass/utilities";
@include reset-html5;
@import "compass/css3/gradient";

// define the grid and import susy
@import "layout/grid";
@import "susy/susy";

// import the mixins we wrote
@import "mixins";

// define our basic layout
@import "layout/containers";
@import "layout/masthead";
@import "layout/top_menu";
@import "layout/middle";
@import "layout/banner";
@import "layout/title";
@import "layout/local";
@import "layout/footer";

// include ui elements
@import "ui/typography";
@import "ui/tables";
@import "ui/errors";
@import "ui/icons";
@import "ui/images";
@import "ui/headings";
@import "ui/lists";
@import "ui/forms";
@import "ui/formy";
@import "ui/autocomplete";
@import "ui/modalbox";
@import "ui/posts";
@import "ui/split_panel";
@import "ui/gizmos";
@import "ui/ui_elements";
@import "ui/tabs";
@import "ui/entities";
@import "ui/login";
@import "ui/wiki";

// page styling
@import "pages/listing";
@import "pages/search";
@import "pages/title";
@import "pages/sidebar";

@import "debug";

// put this last to allow small screen override
@import "layout/small_screen";
