#page_sidebar {
  padding-top: 40px; // arbitrary, but also temporarily.
                     // i have ideas for better things in the future.
  hr {
    margin-top: 4px;
    margin-bottom: 4px;
  }
  .h3 {
    margin: 20px 0px 2px 0px;
    text-transform: uppercase;
    font-size: 0.85em;
    color: #666;
    font-weight: bold;
  }
  ul.names {
    @include list-unstyled;
    li:first-child {
      border-top: 0;
    }
    li {
      padding: 3px;
      border-top: 1px solid $background_color;
      background-color: rgba(255,255,255,0.5);
      span {
        background-position: 100% 0;
        background-repeat: no-repeat;
        padding-right: 20px;
        margin-right: -20px;
      }
    }
  }
}

#page_sidebar .tags {
  overflow: hidden;
  a {
    width: 100%;
    overflow: hidden;
    background-color: #dde;
    padding: 0px 2px;
    line-height: 175%;
    white-space: nowrap;
    &:hover {
      background-color: #eef;
    }
  }
}

.attachments {
  overflow: auto;
}

/*
  Responsive Attachments in the Sidebar

  On xs screens display 1 image per row. 2 on small to medium and 3 on large.
  In order to prevent the next image being put under the last image in the
  previous row if that image is a bit smaller we fix the height of a.attachment
  This way the image will scale inside but the container will always have the
  same height.
  We do not apply this for xs screens as it's not needed with 1 image per row.
*/
#page_sidebar .attachments {
  @include make-row;
  a.attachment {
    @include make-xs-column(6);
    @include make-lg-column(4);
    height: 64px;
    @media (min-width: $screen-sm-min) {
      height: 100px;
    }
    padding: 10px;
    div.asset {
      img {
        max-width: 100%;
        max-height: 100%;
      }
      max-width: 100%;
      overflow: hidden;
      max-height: 100%;
      border: 1px solid lightgray;
      box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.25);
    }
  }
}

ul.side_list {
  @include list-unstyled;
  clear: both;
  a, & .a {
    display: block;
    padding-top: 4px;
    padding-bottom: 4px;
  }
  li.small_icon {
    padding-left: 19px;
    background-position: 0 50%;
  }
}


