


.page_list.table {
  table {
    width: 100%;
    border-collapse: collapse;
  }
  td, th {
    padding: 8px;
    border: 1px solid #ddd;
    border-width: 1px 0;
  }
  th {
    font-weight: bold;
    background-color: #f9f9f9;
  }
}
