//
// styles for the page searching controls
//

ul.page_search_controls {
  .section {
    margin-top: 1em;
    margin-bottom: 0.25em;
    color: #666;
    font-weight: bold;
    font-size: 0.9em;
  }
  a {
    display: block;
    padding-top: 0.25em;
    padding-bottom: 0.25em;
    @include cg-hover-link;
  }
}

table.search_controls_top {
  width: 100%;
  margin-bottom: 1em;
  td {
    vertical-align: top;
    &.view {
      text-align: left;
    }
    &.text_field {
      text-align: right;
    }
    &.button {
      width: 1%;
    }
  }
  // todo: figure out some more universal styling.
  input {
    border: 1px solid #999;
    background: white;
    margin: 0;
    padding: 4px;
  }
  input[type=text] {
    width: 100%;
    max-width: 20em;
    border-right: 0;
  }
  input[type=button] {
    background: #eee;
    border-left: 0;
  }
}
