//
// styles for the page searching controls
//

ul.page_search_controls {
  .section {
    margin-top: 1em;
    margin-bottom: 0.25em;
    color: #666;
    font-weight: bold;
    font-size: 0.9em;
  }
  a {
    display: block;
    padding-top: 0.25em;
    padding-bottom: 0.25em;
    @include cg-hover-link;

    &.disabled {
      color: #666;
      cursor: default;

      &:hover {
        text-decoration: none;
      }
    }
  }
}

table#page_search_table {
  margin-bottom: 1em;
  width: 100%;
}

table.page_text_search {
  border: 1px solid #ccc;
  background-color: #f6f6f6;
  float: right;
  td {
    padding: 4px 4px;
    &.x, &.search {
      width: 16px;
    }
  }
  input[type=text] {
    border: 0;
    background-color: #f6f6f6;
    margin: 0;
    width: 100%;
    max-width: 20em;
    outline: none;
  }
}
