#page_sidebar {
//  h3 {
//    color: #666666;
//    border: 1px solid;
//    border-color: #eee #bbb #bbb #eee;
//    background: #e0e0e0;
//    text-transform: uppercase;
//    font-size: 0.8em;
//    padding: 0.5em 0.75em;
//    margin: 2.5em 0 0.5em 0;
//  }
//  h4 {
//    padding-top: 1em;
//  }
//  h5 {
//    padding: 0.4em 0 0.5em;
//  }
  .h3 {
    padding-top: 2em;
    //padding-bottom: 0.5em;
    text-transform: uppercase;
    font-size: 0.85em;
    color: #666;
    font-weight: bold;
  }
  ul.rule {
    border-top: 1px dotted #fff;
    padding-top: 0.5em;
    margin-top: 0.5em;
  }
  ul.names li:first-child {
    border-top: 0;
  }
  ul.names li {
    padding: 3px;
    border-top: 1px solid $background_color;
    background-color: rgba(255,255,255,0.5);
    span {
      background-position: 100% 0;
      background-repeat: no-repeat;
      padding-right: 20px;
      margin-right: -20px;
    }
  }
  // input.check {
  //   float: left;
  //   margin: 7px 0 0 -18px;
  // }
}

#page_sidebar .tags {
  overflow: hidden;
  a {
    width: 100%;
    overflow: hidden;
    background-color: #dde;
    padding: 0px 2px;
    line-height: 175%;
    white-space: nowrap;
    &:hover {
      background-color: #eef;
    }
  }
}

.attachments {
  overflow: auto;
}

//.edit_tags p
//  width: 40%;
//  margin: 0.25em;

ul.side_list {
  padding: 0;
  margin: 0;
  list-style: none;
  clear: both;
  ul {
    list-style: none;
    padding-left: 16px;
  }
  a, & .a {
    display: block;
    padding-top: 4px;
    padding-bottom: 4px;
  }
  &.commands a {
    text-transform: capitalize;
  }
  li.small_icon {
    padding-left: 19px;
    background-position: 0 50%;
  }
}


