//
// cutout menu tabs in title_box
//
// this assumes that page tabs are spaced for when there is a sidebar. not sure what
// to do when there is no sidebar.
//

#title_box.with_tabs {
  // variables
  $ul_id: 'page_tabs';
  $margin: resolve_width($local_content_padding, $grid_column_count - $local_sidebar_width);
  $active_color: $local_content_background;
  $border: $local_title_border;

  // mixin
  @include cutout_menu($ul_id, $margin, $active_color, $border);

  // additional styling
  padding-bottom: 1.75em; // hardcoded line height in cutout_menu
  #page_tabs {
    width: 100%; // not sure why this is needed, but it is.
  }
  #title {
    padding-bottom: gutter() / 2;
  }
}







// #title.page_title {
//   background: green;
//   form {
//     .h1 {
//       line-height: 1em;
//       margin: 0;
//       padding: 0;
//     }
//     .h2 {
//       line-height: 2em;
//       margin: 0;
//       padding: 1;
//     }
//     .h3 {
//       line-height: .5em;
//       margin: 0;
//       padding: 1;
//     }
//   }
//   .h1 {
//     font-size: 2em;
//     font-weight: bold;
//     line-height: 1.2em;
//   }
//   .h2 {
//     font-size: 1.5em;
//     font-weight: bold;
//     line-height: 3em;
//     padding: 0px 0px 0px 20px;
//   }
//   .h3 {
//     font-size: 1.5em;
//     font-weight: normal;
//     line-height: 1.2em;
//   }
// }


