= form_tag '',
  id: 'user_search_form',
  method: :get,
  remote: true,
  class: 'form-search margin-bottom' do
  .input-group.col-md-6.col-sm-9
    = autocomplete_input_tag 'q', 'users',
      value: @filter,
      url: url_for(format: 'json'),
      id: 'autocomplete_people',
      class: 'search-query',
      placeholder: set_key_for_search_bar
    %span.input-group-btn
      %button.btn.btn-primary(type="submit")
        = :search.t