%div.icon.small{style: avatar_style(request.icon_entity, 'small')}
  = request.class.model_name.human
  %br
  = embold_links do
    -translate *request.description
  %i=# friendly_date(request.created_at)
