<div class="p first">
<%- options = params.dup -%>
<%- none_active = options[:id].present? -%>
<%- options[:id] = nil; options[:action] = nil -%>
<%= toggle_bug_links(
  { :label => :pending.t,
    :url => options.merge(:state=>'pending'),
    :active => !none_active && (options[:state] == 'pending' or options[:state].empty?) },
  { :label => :approved.t,
    :url => options.merge(:state => 'approved'),
    :active => !none_active && options[:state] == 'approved' },
  { :label => :rejected.t,
    :url => options.merge(:state => 'rejected'),
    :active => !none_active && options[:state] == 'rejected' }
) -%>
&nbsp;
<%= toggle_bug_links(
  { :label => :all.t,
    :url => options.merge(:view => 'all'),
    :active => !none_active && (options[:view] == 'all' or options[:view].empty?) },
  { :label => :incoming.t,
    :url => options.merge(:view => 'incoming'),
    :active => !none_active && options[:view] == 'incoming' },
  { :label => :outgoing.t,
    :url => options.merge(:view => 'outgoing'),
    :active => !none_active && options[:view] == 'outgoing'}
) -%>
</div>
