- header = render :partial => 'common/requests/nav'

- if @requests.empty?
  = header
  = :no_things_found.t(:things => :requests.t.downcase)
- else
  = render :partial => 'common/sliding_list', :locals => {:items => '@requests', :partial => 'common/requests/line_item', :path_method => :request_path, :header => header, :footer => pagination_links(@requests)}