- content_for :title do
  %h2= I18n.t(@request.name, count: 1)

.p.first
  - if referrer =~ /\/requests[\/\?]/ # hackish
    - return_path = requests_path(referrer_params)
  - else
    - return_path = requests_path

  = link_to icon_tag('left') + :list_things.t(things: :requests.t), return_path, class: 'btn btn-default'

#request-comments
  = render partial: 'common/requests/comments'
