= render :partial => 'common/split_panel',
  :locals => { :items => '@versions',
    :left_panel => 'wikis/versions/version_short_entry',
    :right_panel => 'wikis/diffs/show',
    :load_url => proc {|version| wiki_diff_path(@wiki, version.diff_id)}}
