%div.debug

  #debug_history.p
  %script
    -# $('debug_history').update(JSON.stringify({url:History.getState().url, data:History.getState().data}));

  .p
    %h3 Become user
    = form_tag(debug_become_path) do
      %label Login
      = text_field_tag('id')
      = hidden_field_tag('url', request.path)
      = submit_tag("Become")
