-#
-# Every time we show a list of posts, it should go through this partial.
-#
-# options:
-#   style -- currently, only 'default'
-#   posts -- the array of Post objects.
-#
-# these paths must be defined:
-#
-#   edit_post_path(post, *args)  -- path for editing post.
-#        post_path(post, *args)  -- path for updating the post.
-#             posts_path(*args)  -- path to create a post.
-#
-# these permissions must be defined:
-#     may_create_post?()
-#   may_edit_post?(post)
-#

- style = local_assigns[:style] ||= :default
- posts = local_assigns[:posts] ||= @posts
- local_assigns[:remote] = true if local_assigns[:remote].nil?

%section{:class => "post_list #{style}", :id => 'posts'}
  = render :partial => "/common/posts/list_as_#{style}", :locals => local_assigns

