-#
-#  Every time we show a list of posts, it should go through this partial.
-#
-#  options:
-#    posts -- the array of Post objects.
-#
-#  these paths must be defined:
-#    edit_post_path(post, *args)  -- path for editing post.
-#         post_path(post, *args)  -- path for updating the post.
-#              posts_path(*args)  -- path to create a post.
-#
-#  these permissions must be defined:
-#    may_create_post?()
-#    may_edit_post?(post)

:ruby
  posts = local_assigns[:posts] ||= @posts
  #show_reply = safe_call(:may_create_post?) || false
  show_reply = current_user.may?(:pester, @recipient) if current_user && @recipient
  show_post_form = logged_in? && (show_reply || may_show?(@page) ||  @page.public?)

- if posts.any? || show_post_form
  %section#posts.post_list
    = post_pagination_links(posts)
    %table.posts.round
      = render partial: 'common/posts/post',
        layout: 'ui/table/devided_row',
        collection: posts,
        locals: { last: posts.last }
      - if show_post_form
        = render partial: 'common/posts/reply',
          layout: 'ui/table/devided_row',
          locals: { link_name: :reply, post: Post.new }
    = post_pagination_links(posts)
