-#
-# display a list of posts, using a table.
-#
-# the table uses funky spacer rows, but this makes it possible to have a full
-# height divider border between the user avatar and the body of the post,
-# regardless of which side is taller.
-#

-# local_assigns[:reply_body] ||= false
-# show_reply = local_assigns[:create_url] || local_assigns[:reply_body] || false

- if posts.any?
  - last_id = posts.last.id
- else
  - last_id = nil

= post_pagination_links(posts, 'first')
%table.posts.round
  - for post in posts do
    = render :partial => 'common/posts/table/row', :locals => local_assigns.merge(:post => post, :last => (post.id == last_id))
  - if may_create_post?
    = render :partial => 'common/posts/table/reply', :locals => local_assigns.merge(:last_id => last_id)
= post_pagination_links(posts, 'last')
