%td.post_author
  = render 'ui/author',
    author: post.user,
    created_at: post.created_at,
    updated_at: post.updated_at

%td.post_body.shy_parent{stars_for(post)}
  .post_body{id: post.body_id, style: "z-index: 100;"}
    .float_right
      = edit_post_link(post)
      = star_post_action(post)
    = post.body_html
