= page_tabs do |f|
  - f.tab do |t|
    - t.label :survey_introduction_tab.t
    - t.url page_url(@page, action: 'show')
    - t.selected controller?(:survey_page) && action?(:show)
  - if logged_in?
    - unless @survey.new_record?
      - my_response = @survey.responses.for_user(current_user) # @survey.find_response_by_user(current_user)
      - if my_response and may_view_survey_response?(my_response)
        - f.tab do |t|
          - t.label :survey_my_response_tab.t
          - t.url response_path(my_response, page_id: @page)
          - t.selected controller?(:survey_page_response) && @response.user == current_user
      - if may_view_survey_response?
        - f.tab do |t|
          - t.label :survey_list_all_tab.t
          - t.url responses_path(page_id: @page)
          - t.selected controller?(:survey_page_response) && @response.try.user != current_user
