.entity
  = avatar_link(entity, 'small')
  = link_to_user entity, class: 'single'
-# it's possible we won't ever want a generic view like this.
-# groups now uses a specific view, but the people directory uses this
