- cutoff = (entities.count + 1) / 2

.directory.split_panel
  .panel_left
    - for entity in entities[0..cutoff-1]
      = render entity_partial, entity: entity

  .panel_right
    - for entity in entities[cutoff..-1]
      = render entity_partial, entity: entity
.p
  = pagination_links(entities)
