

.login_form {
  label {
    font-weight: bold;
    display: block;
    float: left;
  }
  span {
    display: block;
    font-size: 90%;
    text-align: right;
  }
  div.password {
    margin-top: 1em;
  }
  //input[type=text], input[type=password] {
  //  width: 100%;
  //}
  //input[type=submit] {
  //  padding: 4px 10px;
  //}
}

// center the login form, if displayed in #center
#center .login_form {
  margin: 0 auto;
}
