//
// STYLES FOR DISCUSSION POSTS
//
// These are used in many places:
// * comments on pages
// * status updates and replies
// * private messages between two people
//

$posts_padding: $ui-margin;

//
// table style
//

.post_list.default {
  table.posts {
    width: 100%;
    border: $posts_border;
  }
  .shade_even {
    background: $posts_even_background;
  }
  .shade_odd {
    background: $posts_odd_background;
  }
  .pagination {
    // border-bottom: $posts_border;
    //text-align: center;
    //padding: $posts_padding;
  }
  tr.post td {
    vertical-align: top;
  }
  tr.post_spacer_bottom td {
    line-height: $posts_padding;
  }
  tr.post_spacer_top td {
    line-height: $posts_padding;
    border-top: $posts_border;
    &.first {
      border-top: 0;
    }
  }
  td.post_body {
    border-left: $posts_border;
    padding: 0 $posts_padding;
    width: 100%;
    textarea {
      width: 100%;
      // resize: vertical; (this is now the default in forms.scss)
    }
  }
  td.post_author {
    text-align: right;
    padding: 0 $posts_padding;
    .author {
      padding-right: $icon_small + $posts_padding;
      background-position: right top;
      background-repeat:no-repeat;
      min-height: $icon_small;
    }
  }
}
