
[data-stars] {
  position: relative;
  z-index: 0;
  .star {
    z-index: -1;
    position: absolute;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    &.star_0 {
      background-image: url(/images/png/48/post_twinkle_0.png);
    }
    &.star_1 {
      background-image: url(/images/png/48/post_twinkle_1.png);
    }
    &.star_2 {
      background-image: url(/images/png/48/post_twinkle_2.png);
    }
  }
}
