//
// currently only used by 'choose page class' partial, afaik.
//
table.layout td {
  vertical-align: top;
  padding: 4px;
}

//
// styled tables
//
// these are used in a couple places. for example, recipient list when creating a new page.
// for now, it uses the same styling as the titlebox.
//

table.styled {
  border-collapse: collapse;
  th {
    font-weight: bold;
  }
  td, th {
    background-color: $local_title_background;
    border-top: $local_title_border;
    border-bottom: $local_title_border;
    padding: 0.5em;
  }
}

//
// like the styled table, but a bit more styled. supports alternating rows,
// for example.
//

table.fancy {
  border-collapse: collapse;
  th {
    font-weight: bold;
    background-color: $color_light;
  }
  td, th {
    border-top: $local_title_border;
    border-bottom: $local_title_border;
    padding: 0.5em;
  }
  tr.even td {
    background-color: $color_lighter;
  }
  tr.active {
    border: $local_title_border;
    td {
    background-color: $local_content_background;
    }
  }
  tr.ins {
    border: $local_title_border;
    td {
    background-color: #ccffcc;
    }
  }
  tr.del {
    border: $local_title_border;
    td {
    background-color: #dddddd;
    color: #999999;
    text-decoration: line-through;
    }
  }
}


//
// SHADED TABLE
//
// This looks just like a shaded list, but is actually a table.
// A shaded table is not intended for use with any headers.
// It looks like a list, but allows you to use columns for alignment.
//
// Add class 'reflow' to td in order to make that td stack vertically
// for small screens.
//
// see also ul.shaded and small_screen.scss
//

table.shaded {
  width: 100%;
  border: 1px solid $ui_border_color;
  @if $ui_border_radius { @extend .round }
  tr {
    @extend .ui_light_fade;
  }
  tr:first-child td {
    border-top: 0;
    @if $ui_border_radius { @extend .round-top }
  }
  tr:last-child td {
    @if $ui_border_radius { @extend .round-bottom }
  }
  td {
    border-top: 1px solid $ui_border_color;
    padding: 8px;
  }
}
