strong {
  font-weight: 700;
}

b, .b {
  font-weight: 700;
}

em {
  font-style: italic;
}

i {
  font-style: italic;
}

// for displaying numbers big
.bignum {
  font-size: 150%;
}

// break long words so they don't break layout
p {
  /* These are technically the same, but use both */
  overflow-wrap: break-word;
  word-wrap: break-word;

  -ms-word-break: break-all;
  /* This is the dangerous one in WebKit, as it breaks things wherever */
  word-break: break-all;
  /* Instead use this non-standard one: */
  word-break: break-word;

  /* Adds a hyphen where the word breaks, if supported (No Blink) */
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

//
// MARGINS
//

// simulate a blockquote.

.bq {
  margin: 1em;
}

// simulate that an element is followed with a <br>

.br {
  margin-bottom: 1em;
}

.p, .section, .h1, .h2, .h3, h1, h2, h3 {
  &.first {
    // if class .first is added, remove the top margin.
    // this is often use with .p.first or .h1.first, etc.
    margin-top: 0 !important;
  }
  &.last {
    margin-bottom: 0 !important;
  }
}

// do the same for "legend", a class for bootstrap forms
.legend.first {
  line-height: 1em;
  padding-bottom: 8px;
}

//
// LINKS
//

a {
  @if $link_underline == false {
    // @include hover-link;
  }
  color: $link_standard_color;
  &:not(.btn):visited { color: $link_visited_color;}
  &:not(.btn):active { color: $link_active_color;}

  // this should be the default, but for some reason I need to specify it manually
  // here in order to get the focus decoration to work. Maybe this should be made
  // fancy like bootstrap.
  &:focus {
    outline: thin dotted #333;
    outline: 5px auto -webkit-focus-ring-color;
  }
}

//
// WORD WRAPPING
//

// force no wrapping
.nowrap {
  white-space: nowrap;
}

// force wrapping, even when there is no white space
.wrap {
  word-wrap: break-word;
}

//
// ALIGN
//

.align-right  {text-align: right;}
.align-left   {text-align: left;}
.align-center {text-align: center;}
