//
// ALIGNMENT
//

.float_right {
  float: right;
  text-align: right;
}

.float_left {
  float: left;
}

.clear {
  clear: both;
}

.full_width {
  width: 100%;
}

.align_right {
  text-align: right;
}

//
// SHY LINKS
//

// these are links or elements that should not be visible until you hover over a parent
// element. the problem with display:none is that it removes the element from the layout
// and then making it visible again can lead to weird jerkiness. so, instead, we use opacity
// for this. It seems to work in all browsers.

.shy_parent:hover .shy {
  opacity: 0.6;
  &:hover {
    opacity: 1;
  }
}

.shy {
  opacity: 0;
}

// don't hide the shy element if it has a spinner icon. we want the user
// to know that the request is pending, even when they move the mouse away.
.shy.spinner_icon {
  opacity: 1;
}

//
// TWO COLUMN FLOATED ITEMS
//
// this allows us to display a bunch of items in two columns, but in a way such
// that if the window gets too small to display the two columns it will collapse
// gracefully to a single column.
//
// used like so:
//
//   .two_column_float
//     .column_item= 'hi'
//     .column_item= 'there'
//     .column_item= 'stranger'
//

.two_column_float {
  // self clear the containing div:
  overflow: auto;

  // make the items at least 50% width and float them
  .column_item {
    width: 50%;
    float: left;

    // when a .p is floated, the margin gets doubled, so we put half margins here.
    .p {
       margin-top: 0.5em;
       margin-bottom: 0.5em;
    }
  }
}

//
// COMMON REUSABLE UI STYLING
//


//
// top_links -- for links that go at the top of the content area.
//              flush right, bottom margin. they are otherwise not decorated.
//

.top_links {
  @extend .p;
  @extend .first;
  text-align: right;
}

//
// drag and drop
//

.handle {
  cursor: move;
}

//
// time styling - display timestamps in a more beautiful way.
// timestamps of today have the format hh:mm <span>AM/PM</span>
//
//

label.date span {
  font-size: 0.8em;
  opacity: 0.7;
  padding-left: 0.2em;
}
