// only apply the wiki styles in the article section.
// we have .wiki set on the main div of wiki pages too.

article {
  .wiki, .post {

    overflow: auto;

    //
    // CODE BLOCKS
    //

    // http://longren.org/2006/09/27/wrapping-text-inside-pre-tags
    // Browser specific (not valid) styles to make preformatted text wrap
    pre {
      white-space: pre-wrap;
      word-wrap: break-word;

      // remove bootstrap defaul pre styling:
      background-color: transparent;
      border: none;
      padding: 0px;
      margin: 0px 0px $p-margin 0px;

      & > code {
        display: block;
        border: solid 1px #ffe8a9;
        padding: 0.5em;
      }
    }
    code {
      background-color: #fff6dd;
    }
    div.codetitle {
      background: #ffe8a9;
      color: #614b2a;
      padding: 0.25em;
      font-weight: bold;
    }

    //
    // HEADINGS
    //

    h1, h2, h3, h4, h5 {
      font-family: $font_heading_family;
      font-weight: bold;
      line-height: 1.25em;
    }

    h1 {
      font-size: 30px;
      color: #666666;
      border-bottom: 2px dotted #999999;
      margin: 0.67em 0;
      &:first-child, &.first {
        margin-top: 0;
      }
    }
    h2 {
      font-size: 18px;
      border-bottom: 1px dashed #cccccc;
      margin: 0.83em 0;
      &:first-child, &.first {
        margin-top: 0;
      }
    }
    h3 {
      font-size: 16px;
      font-weight: bold;
      margin: 0.75em 0;
    }
    h4 {
      font-weight: bold;
    }

    //
    // BLOCKS
    //

    p {
      &.left {
        margin: 0;
        img {
      margin-right: 1em; } }
      &.right {
        margin: 0;
        img {
          margin-left: 1em;
        }
      }
    }

    //
    // INLINE
    //

    span.caps {
      font-size: 80%;
    }

    ul, ol {
      padding-left: 1em;
      margin-left: 0.5em;
    }

    ul {
      list-style: disc outside none;
      padding-left: 1em;
      margin-left: 0.5em;
      ul {
        list-style: circle outside none;
      }
    }
  }

  .wiki {

    //
    // TABLES
    //

    table {
      border-collapse: collapse;
    }
    td {
      padding: 4px;
      border: 1px solid #cccccc;
    }
    th {
      padding: 4px;
      border: 1px solid #cccccc;
    background: #dddddd; }
    tr {
      &.odd {
        background-color: #f2f2f2;
      }
      &.even {
        background-color: white;
      }
    }

    //
    // DIFFS
    //

    del {
      color: #A33;
      background-color: #fff;
    }

    ins {
      background-color: #d6e9c6;
      text-decoration: none;
      color: #3c763d;
    }
    .shy {
      ins, del{
        background-color: initial;
        color: initial;
        text-decoration: initial;
      }
    }

  }

  .post {
    blockquote {
      border-left: 6px solid #dddddd;
      margin-left: 0;
      padding-left: 1.5em;
      font-style: italic;
    }
  }

  //
  // WIKI DIFF
  //

  div.diff {
    p {
  margin: 0; } }

  //
  // WIKI EDITING
  //

  a.edit {
    font-size: $font_default_size;
    font-weight: normal;
    float: right;
  }

  //
  // WYSIWYG EDITOR
  // Take care when changing this css, it is hard to get it to look ok in all browsers.
  //

  .html_editor_wrapper {
  border: 1px solid #666666; }

  .htmlarea {
  border: 0 !important; }

  .htmlarea .toolbar {
    border-right: 0;
    border-bottom: 1px solid #999999;
    background: #eeeeee;
    .button {
      background: #eeeeee;
      border-color: #eeeeee;
      &:hover {
  background: white; } } }

  .htmlarea iframe {
    width: 100% !important;
    border: 0 !important;
    border-top: 1px solid #dddddd !important;
    &:focus {
  background-color: #ffffee; } }

  .htmlarea .statusBar {
    border-left: 0 !important;
  background: #eeeeee; }

  .statusBarWidgetContainer {
  display: none; }

  //
  // table of contents
  //

  a.anchor {
    opacity: 0;
    margin-left: 6px;
    text-decoration: none;
    font-size: 80%;
    &:hover {
      color: #666666 !important;
  text-decoration: none; } }

  h1:hover a.anchor,
  h2:hover a.anchor,
  h3:hover a.anchor {
    opacity: 1;
    color: #aaaaaa;
  }

  ul.toc {
    display: table;
    //background-color: #f9f9f9;
    //border: 1px solid #e6e6e6;
    //padding: 0.5em;
    margin: 0 0 0.5em 0;
    list-style-type: none;
    list-style-image: none;
    ul {
      list-style-type: none;
      list-style-image: none;
      padding-left: 1em;
    }
    span {
      padding-right: 0.3em;
    }
    li {
      font-size: 0.95em;
    }
  }
}
