//
// if ui_border_radius is set, then we apply rounding to many elements.
//
// if it is not set, then these classes will not be defined,
// and nothing will be rounded.
//
// the preferred way of using these is with @extend, for example:
//
//   @if $ui_border_radius { @extend .round-top }
//

@if $ui_border_radius {
  .round-top {
    @include border-top-radius($ui_border_radius);
  }
  .round-bottom {
    @include border-bottom-radius($ui_border_radius);
  }
  .round-left {
    @include border-left-radius($ui_border_radius);
  }
  .round-right {
    @include border-right-radius($ui_border_radius);
  }
  .round {
    @include border-radius($ui_border_radius);
  }
}