
// #container {
//   @include show-grid("grid.png");
// }

// #container * {
//   background-color: rgba(0,0,0,.125);
// }

.debug {
  overflow: hidden;
  color: #999;
  ul {
    margin-left: 0.5em;
    li {
      margin-left: 1em;
    }
    li.first {
      margin-left: 0.5em;
      font-weight: bold;
    }
    li.method {
      font-weight: bold;
    }
  }
}

// .wtf {
//   border: 1px dotted red;
// }
