//
// styles for displaying entities (groups or users).
//
// The difficult styling for entities is handled by icons.scss.
// Everything else is in here.
//

//
// i am not sure about this selector. 
// currently, it is used for the entity list on the group home.
// it is temporary.
// todo: harmonize with pages/sidebar.scss 
//

.entity_list {
  h3 {
    padding-top: 2em;
    padding-bottom: 0.5em;
    text-transform: uppercase;
    font-size: 0.85em;
    color: #666;
  }
  //ul.entities {
  //  border-bottom: 1px solid #ccc;
  //  li {
  //    border-top: 1px solid #ccc;
  //    padding: 3px 0;
  //  }
  //}
}

//
// A vertical 1-column list of entities displayed against the
// theme's background. 
//

.on_background {
  ul.entities {
    li:first-child {
      border-top: 0;
    }
    li {
      padding: 3px;
      border-top: 1px solid $background_color;
      background-color: rgba(255,255,255,0.5);
      span {
        background-position: 100% 0;
        background-repeat: no-repeat;
        padding-right: 20px;
        margin-right: -20px;
      }
    }
  }
}

//
// options for styling entities
//

.entity {
  &.spaced {
    margin-bottom: 4px;
  }
}