//
// ALERT MESSAGES
//
// Type of alerts:
//   danger  -- red
//   warning -- yellow
//   info    -- light blue
//   success -- green
//
// there are three places where alert messages might be shown:
//
// (1) the alert message overlay for the entire screen
//     .alert_message_container
//       #alert_messages
//
// (2) in a modalbox
//    #modal_alert_messages
//
// (3) inline the main content area
//     .inline_message_list
//
//

$alert_opacity: 0.9;
$alert_width: 600px;
$alert_padding: gutter();
$alert_margin: gutter()/2;

//
// for alert message overlay
//

.alert_message_container {
  width: 100%;
  max-width: 100%;
  position: fixed;
  top: -1000px; // force the container to be off the screen.
                // we do this because otherwise the container invisibly makes
                // some stuff not clickable.
  left: 0;
}

#alert_messages {
  max-width: 100%;
  width: $alert_width;
  margin: 0 auto;
  position: relative; // undo the -1000px of the container, in order to
  top: 1000px;        // make alert messages visible.
}

#alert_messages, #modal_alert_messages {
  .alert {
    .close {
      float: right;
      color: #999;
      font-size: 24px;
      text-decoration: none;
      font-weight: bold;
      line-height: $font_default_size;
      &:hover {
        color: #000;
      }
    }
    li {
      margin-left: 36px;
      list-style: square;
    }
  }
}

//
// for inline alert messages
//

.inline_message_list {
  .close {display:none}
  p.first {
    font-size: 1.5em;
    line-height: 1.5em;
  }
}
