//
// GENERAL FORM STYLING
//

//
// this seems to make form elements line up better, 
// especially in chrome:
//

textarea, input[type=submit] {margin: 0;}

//
// form elements are often really misaligned because in the w3c box
// model all the border decoration is put outside the content box, but this
// decoration varies a lot in different form elements and in different
// operating systems.
//
// this is an attempt to make all the form elements have widths based
// on the entire box, not just the content.
// 
// among other things, this allows us to do this and have it actually produce
// an even 10px padding around the textarea:
//
// <div style="padding: 10px">
//    <textarea style="width:100%"></textarea>
// </div>
//
// without setting box-sizing to be border-box, the textarea appears to have
// no padding to the right, because the decoration can easily add 8px to the
// total width.
//
// see http://www.quirksmode.org/css/box.html
//

textarea, input, select {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

//
// the button row of a form
//

.form_buttons {
  margin-top: 0.75em;
  input[type=submit] {
    // font-size: 1.15em;
    // margin-right: 0.5em;
  }
}

//
// RADIO BUTTONS AND CHECK BOXES
//

// make checkboxes have a hanging indent look, like bullets.
label.checkbox, label.radio {
  display: block;
  margin-left: 1.7em;
}
input.checkbox, input.radio {
  // position: relative;
  // top: 2px
  margin-left: -1.6em;
}

// in webkit and gecko, checkboxes and radio buttons seem to look better this way
input[type=radio], input[type=checkbox] {
  vertical-align: top;
}


//
// FORMY STYLE: SIMPLE FORM
// 

.simple_form {
  // add a gap between each row
  .row {
    margin-top: 1em;
    &.first {
      margin-top: 0;
    }
    label {
      font-weight: bold;
      display: block;
    }
  }

  // by setting a max width, and then making the form elements
  // be 100%, we create a form that is not too wide, but also will scale
  // nicely when the screen gets smaller. only ie6 doesn't support max-width.
  max-width: 30em;
  input[type=text], input[type=password], textarea, select {
    width: 100%;
  }
}

//
// FORMY STYLE: TABLE FORM
//

table.form {
  border-collapse: collapse;
  tr.first > td {
    border-top: 0;
  }
  & > tbody > tr > td {
    vertical-align: top;
    border-top: 1px dotted #ccc;
  }
  td.heading {
    padding: 0.5em 0;
    h2 {
      color: #666;
      font-size: 1.5em;
      margin: 0;
    }
  }
  td.label {
    font-weight: bold;
    white-space: nowrap;
    text-align: right;
    padding: 1em;
    padding-right: 0;
    .not_label {
      // silly way to put stuff in td.label that doesn't look like a label:
      text-align: left;
      float: right;
      font-weight: normal;
    }
  }
  td.input {
    padding: 1em;
  }
  .info {
    font-size: 0.9em;
    font-style: italic;
    color: #777;
  }
  // see above for note as to why this makes nice forms.
  div.input {
    max-width: 30em;
    input[type=text], input[type=password], textarea, select {
      width: 100%;
    }
  }
}

