//
// FORMY STYLE: SIMPLE FORM
//


span.help-block {
  color: #666;
  font-size: 90%;
  //line-height: 90%;
  cursor: default;
}

// bootstrap's styling for legends is nice, but technically every
// form should only only have a single legend, as the first element.
// so, we make label.legend behave the same way.
div.legend {
  @extend legend;
}

