

//li.spinbox {
//  list-style: none;
//  input[type="checkbox"] {
//    float: left;
//    margin: 7px 0 0 -18px;
//    vertical-align: top;
//  }
//  a {
//    display: block;
//    padding: 4px;
//  }
//}

