//
// ICONS AS BACKGROUND IMAGES
//

// Most often, we display icons as background images. This is used for small
// icons, big icons, and for avatar icons.
// 
// The basic idea is that we add some padding and then position the background
// image in the space created. This has the advantage of telling the browser to
// load the images later, there is very little markup, and it is easy to add
// icons to existing elements.
//
// Using this method, the horizontal spacing is no problem. However, vertical
// spacing is a bit more of a pain. Small icons, 16px, are usually ok no matter
// what: the text is usually about the same size as the icons.
// 
// For bigger icons, there are three possible methods of ensuring enough
// vertical space in the element for an icon to appear fully and not get clipped:
//
// * vertical padding: 
//   Using this method, you add a few pixels of top and bottom padding to try
//   to give the element enough height. This is OK, but creates inconsistant 
//   results with different font sizes and font families. 
//   This is the only method that works with display:inline.
//
// * line-height: 
//   using this method, you set the line height of the element to be greater than
//   the size of the icon. This works great, so long as the element doesnt have
//   text that wraps on multiple lines, then this method really sucks.
//   This required display:inline or display:inline-block.
//
// * min-height: 
//   this problem seems like a job for min-height, but this only works in modern
//   browsers. ie7-js supposedly makes min-height work for older IEs, so maybe
//   this is the way to go for blocks.
//   This requires display:inline or display:inline-block.
//
// unfortunately, display:inline-block is not supported by IE.
//
// at various times, the crabgrass stylesheets have used each of these methods.
// currently, it uses min-height, until we figure out some reason not to.
//

.small_icon {
  background-repeat: no-repeat !important;;
  background-position: 0 50% !important;   // flush left, vertical align middle
  padding-left: 20px !important;           // 16px + 4 more for space between icon and text.
  min-height: 16px !important;             // make sure the 16x16 icon doesn't get clipped.

  // alternately:
  // line-height: 16px;
  // or
  // padding-top: 2px  
  // padding-bottom: 2px

  // not sure if these are still used.
  //&.twenty
  //  padding-left: 22px
  //  min-height: 24px
  //&.right
  //  background-position: 100% 4px
  //  padding-left: 4px
  //  padding-right: 20px
  //&.bullet
  //  background-position: 0 2px
  //  margin: 0.5em 0
}

// an empty icon
.none_16 { background-image: none; }

//.small_icon_button {
//  height: 16px;
//  width: 16px;
//  display: block;
//  padding: 0; }

// a special spinning small icon
.spinner_icon {
  background-image: url(/images/spinner.gif);
}

// .big_icon {
//   background-repeat: no-repeat;
//  background-position: 1px 50%;
//  padding: 14px 0 14px 54px; }

//
// currently used in the table-list view for pages.
//
.page_icon {
  height: 16px;
  width: 16px;
  background-repeat: no-repeat;
  background-position: 0 50%;
}


//
// AVATARS / NAME ICONS
//
// the "name_icons" classes are used to an avatar with text.
//
// the "avatar" classes are used when just displaying the avatar.
//
// sizes, as defined in avatar.rb:
// tiny     16px
// xsmall   22px
// small    32px
// medium   48px
// large    60px
// xlarge   96px
// big      202px
//
//

.name_icon {
  background-repeat: no-repeat;
  background-position: 1px 50%;
  &.tiny {
    padding-left: 20px;
    min-height: 17px;
    //padding: 0px 0 0px 17px;
  }
  &.xsmall {
    padding-left: 26px;
    min-height: 26px;
    //padding: 2px 0 4px 26px;
  }
  &.small {
    padding-left: 40px;
    min-height: 40px;
    //padding: 7px 0 7px 40px;
    //line-height: 32px + 8px;
  }
  &.medium {
    padding-left: 60px;
    min-height: 60px;
    //padding: 15px 0 15px 60px;
  }
}

//
// AVATAR ICONS
// used when you want to make sure an element that contains an avatar
// has enough room.

//.avatar_height_small {
//  line-height: 32px + 8px;
//}

//
// hover icons
// i am not sure i want to still do it this way.
//

.name_icon b { display: none; }

// .name_icon:hover {
//   b {
//    display: block;
//    position: absolute;
//    background: transparent url(/images/ui/mini_popup_bg.gif) no-repeat bottom left;
//    color: white;
//    bottom: 25px;
//    left: -5px;
//    z-index: $z_tooltip;
//    padding: 3px 5px 9px 5px;
//    // ^^ must be in px to match gif bg
//    &:hover {
//      display: none;
//    }
//  }
//}



