//
// everywhere we need to display lists of things.
//
// there are four main types of lists:
//
// (1) table
//     display a list of items in a table with columns and rows.
//
// (2) rows
//     display the items, one per row (without aligned columns)
//
// (3) grid
//     display small squarish representations of each item in a grid
//
// (4) expanded
//     like rows, but with more information and probably taking up
//     multiple lines.
//
// this file includes common helper styles for these display elements.
//
// currently, this is just used for pages, but it could be generally useful.
//

//
// TABLE
//

.list_as_table {
  table {
    border-collapse: collapse;
  }
  td {
    padding: 4px;
    border: 1px dotted #ccc;
    border-width: 1px 0;
  }

}

//
// ROWS
//

ul.list_as_rows {
  padding: 2px;
  li {
    padding: 2px;
    float: left;
  }
  li.add_description {
    width: 100px;
  }
}

//
// EXPANDED
//

ul.list_as_expanded {
  clear: left;
  padding: 4px;
  li {
    padding: 2px;
    float: left;
  }
  li.add_description {
    width: 200px;
  }
}

//
// COLUMNS
//

ul.list_as_cols {
  clear: left;
  padding: 2px;
  >li {
    float: left;
    margin: 5px;
    padding: 5px;
    border: solid #CCC 1px;
  }
  li.add_description {
    width: 100px;
  }
}

//
// A LIST OF CLICKABLE ROWS
//

ul.clickable {
  @extend ul.shaded;
  @extend .round;
  @extend .unstyled;

  & > li {
    cursor: pointer;
  }
  & > li:hover {
    background: $color_hover;
  }
}

//
// A PRETTY SHADED LIST
//

ul.shaded {
  border: 1px solid $ui_border_color;
  @if $ui_border_radius { @extend .round }
  & > li {
    border-top: 1px solid $ui_border_color;
    padding: 8px;
    @extend .ui_light_fade;
  }
  & > li:first-child {
    border-top: 0;
    @if $ui_border_radius { @extend .round-top }
  }
  & > li:last-child {
    @if $ui_border_radius { @extend .round-bottom }
  }
  //& > li:hover .hover-btn-primary {
  //  @extend .btn-primary
  //}
  //& > li:hover .hover-btn-inverse {
  //  @extend .btn-inverse
  //}
}
