// #overlay
// #window
//   #frame
//     #header
//     #content
//       (.alert or .confirm)

#MB_overlay {
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: $zindex_modalbox;
  background-color: black !important;
}

#MB_overlay[id] {
  position: fixed; }

#MB_window {
  position: absolute;
  top: 0;
  border: 0 solid;
  text-align: left;
  z-index: $zindex_modalbox + 1;

  // allow the modalbox to get smaller:
  max-width: 100%;
}

//  :background-color #EFEFEF
// :color #000
// .buttons
//   text-align: right
//   margin-top: 1em
//   input
//     margin-left: 1em
// blockquote
//   margin: 0

#MB_window[id] {
  position: fixed !important; }

#MB_frame {
  position: relative;
  background-color: $modalbox_background_color;
}

// this is disable for crabgrass.
//  :height 100%

#MB_header {
  margin: 0;
  height: 2.1em;
  padding: 0.4em;
  background: #999999 none repeat scroll 0 0;
  border-bottom: 1px solid #777777;
  margin: 0; }

#MB_content {
  overflow: hidden;
  padding: 1em;
  border-top: 1px solid #cccccc; }

#MB_caption {
  font: bold 85% "Lucida Grande", Arial, sans-serif;
  text-shadow: white 0 1px 0;
  text-align: left;
  font-size: 2.1em;
  color: white; }

#MB_close {
  display: block;
  position: absolute;
  right: 5px;
  top: 4px;
  padding: 2px 3px;
  font-weight: bold;
  text-decoration: none;
  font-size: 26px;
  color: #666666; }

#MB_close:hover {
  background: transparent;
  color: black; }

//
// what is displayed before any content for the box is loaded
//
#MB_loading {
  background: $modalbox_background_color url(/images/spinner-big.gif) 50% 50% no-repeat;
  color: $modalbox_background_color;
  height: 100px; }

//
// CUSTOM CG STYLES
//

.MB_confirm {
  form {
    text-align: right;
    input {
      margin-left: 1em; } } }

#MB_frame {
  table.styled {
    border-collapse: collapse; 
     td {
       background: white;
       border-top: 1px solid #cccccc;
       border-bottom: 1px solid #cccccc;
       padding: 0.5em;
     }
  }
  .buttons {
    padding: 1em;
    margin: 1em -1em -1em -1em;
    text-align: right;
    background: #ebeae6;
    border-top: 1px solid white;
    input {
      margin-left: 0.5em;
    }
  }
  .tip {
    margin-bottom: 1em;
    font-style: italic;
    background-repeat: no-repeat;
    background-position: 0px 0px;
    padding-left: 20px;
  }
  h2 {
    margin-bottom: 0.25em;
    margin-top: 1em;
    &.first {
      margin-top: 0;
    }
  }
}

