//
// SLIDING LIST
//

.sliding-list-clip {
  overflow: hidden;
}

#sliding-list {
  width: 200%;
  & .left-panel {
    width: 50%;
    float: left;
  }
  & .right-panel {
    float: left;
    width: 50%;
  }
}

