//
// TABS
//

.tab_area {
  background-color: white;
  padding-top: 1em;
  clear: left;
}

// modalbox tabs
#MB_content {
  .tab_area {
    padding: 1em;
    border: 1px solid #999;
    border-top: 0;
  }
}

ul.tabset {
  padding: 0;
  list-style: none;
  li {
    display: inline;
  }
}

ul.tabset.top {
  margin: 0;
  clear: left;
  float: left;
  width: 100%;
  height: 1%;
  background: url(/images/grey9.png) repeat-x bottom;
  a:hover {
    text-decoration: underline;
  }
  a {
    display: block;
    float: left;
    text-align: center;
    text-decoration: none;
    position: relative;
    left: 1em;
    line-height: 1.3em;
    padding: 0.5em 1em;
    // i don't understand why this is needed:
    cursor: pointer;
    &.small_icon {
      padding-left: 28px;
      margin-left: 0.5em;
      background-position: 8px 50%;
    }
    &.active {
      background-color: white;
      border: 1px solid #999;
      border-bottom: 0;
    }
  }
}

// .sub_tabs a
//  font-size: 0.85em
//
// ul.tabset.simple {
//  margin-top: 0;
// }

