//
// TABS
//

.tab_area {
  background-color: white;
  clear: left;
  padding: 1em;
  border: 1px solid #DDD;
  border-top: none;
  .buttons {
    margin-top: 0;
    background: white;
  }
}

.tab_content {
  // margin-bottom: 2em;
}

.nav-tabs.space {
  margin-bottom: 10px;
}

.nav-tabs > li > a {
  cursor: pointer; // why is this needed?
}
