//
// default font
//

// I don't think this is necessary:
// p, ol, ul, td, div {
//   font-family: $font_default_family;
//   font-size: $font_default_size;
//   line-height: $font_default_line_height;
// }

// simulate a <p> using a class. technically, <p>'s are not
// supposed to contain blocks. Therefore, use this instead.

.p {
  margin-top: $grid_column_gutter;
  margin-bottom: $grid_column_gutter;
}

// simulate a blockquote.

.bq {
  margin: 1em;
}

// simulate that an element is followed with a <br>

.br {
  margin-bottom: 1em;
}

strong {
  font-weight: 700;
}

b, .b {
  font-weight: 700;
}

em {
  font-style: italic;
}

i {
  font-style: italic;
}

// for displaying numbers big
.bignum {
  font-size: 150%;
}

//
// MARGINS
//

.p, .section, .h1, .h2, .h3, h1, h2, h3 {
  &.first {
    // if class .first is added, remove the top margin.
    // this is often use with .p.first or .h1.first, etc.
    margin-top: 0 !important;
  }
  &.last {
    margin-bottom: 0 !important;
  }
}

// do the same for "legend", a class for bootstrap forms
.legend.first {
  line-height: 1em;
  padding-bottom: 8px;
}

//
// LINKS
//

a {
  @if $link_underline == false {
    // @include hover-link;
  }
  color: $link_standard_color;
  &:visited { color: $link_visited_color;}
  &:active { color: $link_active_color;}

  // this should be the default, but for some reason I need to specify it manually
  // here in order to get the focus decoration to work. Maybe this should be made
  // fancy like bootstrap.
  &:focus {
    outline: thin dotted #333;
    outline: 5px auto -webkit-focus-ring-color;
  }
}

//
// WORD WRAPPING
//

// force no wrapping
.nowrap {
  white-space: nowrap;
}

// force wrapping, even when there is no white space
.wrap {
  word-wrap: break-word;
}

//
// AUTO CLEARING BLOCKS
//

.autoclear {
  overflow: auto; // hack to make a container auto-clear child floated elements.
}
