
// simulate a <p> using a class. technically, <p>'s are not
// supposed to contain blocks. Therefore, use this instead.

.p {
  margin-top: 1em;
  margin-bottom: 1em;
}

// simulate a blockquote.

.bq {
  margin: 1em;
}

// simulate that an element is followed with a <br>

.br {
  margin-bottom: 1em;
}
