%ul#sort_gallery.assets_list
  = render :partial => '/common/assets/asset_as_li', :collection => @images
= sortable_element "sort_gallery", :constraint => false, :overlap => :horizontal, :url => page_url(@page, :action => :update)

- if @images.blank?
  = I18n.t(:no_images_in_gallery)

%br.clear

