%h2.icon.medium.page_gallery_48.title
  = I18n.t :edit_gallery

.info-edit-gallery
  = I18n.t :edit_gallery_explaination

= render :partial => 'gallery/draggable_images'

- # TODO: implement extraction of zip files
- # %p.info
- #   = I18n.t :add_images_or_zips_explaination
= asset_upload_form_for(@page, :message => :add_images_to_gallery_link.t)
