- if @images.any?
  -# id 'gallery-container' used for rjs
  #gallery-container
    .thumbnails
      = render partial: 'image', collection: @images
    .pagination-links
      = pagination_links @images
- else
  .space-ui
    = I18n.t :no_images_in_gallery

