
= form_tag(group_profile_path(@group), :method => 'put', :multipart => true) do
  = formy(:table_form) do |f|

    - f.heading I18n.t(:information)
    - f.row do |r|
      - r.label :place.tcap
      - r.input text_field(:profile, :place)
    - f.row do |r|
      - r.label :summary.tcap
      - r.input text_area(:profile, :summary, :rows => 5)
    - if @profile.summary_html.any?
      - f.row do |r|
        - r.label "%s (%s)" % [:summary.tcap, :preview.t]
        - r.input @profile.summary_html

    - banner_field(f)
    - f.buttons submit_tag(:save_button.t, :name => 'save')

