- other_user = discussion.user_talking_to(current_user)
- post = discussion.last_post.try
- unread = discussion.unread_by?(current_user)

%tr{:id => dom_id(discussion), :class => (unread ? 'unread' : '')}
  %td.avatar
    = display_entity(other_user, :avatar => :small, :format => :short, :link => true)
  %td.message
    = link_to(post_summary_body(post), me_discussion_posts_path(other_user.login, :anchor => 'last'))
  %td.date
    = friendly_date(post.created_at)


