-# text = local_assigns[:text] || params[:post].try[:body]
-# recipient_name = local_assigns[:recipient_name]

- text = ""
- recipient_name = ""
- text_area = text_area_tag('post[body]', text, :id => 'say_msg', :rows => '8')
- send_button = button_to_function(:send_button.t, send_message_function(recipient_name))

- form_tag('', :id => 'say_form') do
  = formy(:simple_form) do |f|
    - f.row do |r|
      - r.label :recipient.t, 'recipient_name'
      - r.input autocomplete_users_field_tag('recipient_name')
    - f.row do |r|
      - r.label :message.t, 'post_body'
      - r.input text_area
    - f.buttons do |b|
      - b.button send_button


