.col-sm-5
  = render partial: 'me/discussions/message_form'

.col-sm-7
  %div.list_as_table
    %div.list_header
      = pagination_links(@posts)
    %table
      = render partial: 'post', collection: @posts
    %div.list_footer
      = pagination_links(@posts)

