- unless ['friends','groups'].include? params[:view]
  - link_to_toggle(:set_status_button.t, :onvisible => "$('post_body').focus()") do
    = render :partial => 'me/activities/status_form'

%div.list_as_table.p
  %div.list_header
    = pagination_links(@activities)
  %table
    = render :partial => 'activity', :collection => @activities
  %div.list_footer
    = pagination_links(@activities)

