- content_for :dom_loaded do
  showTabByHash();

%div{class: first(:heading)}
  = group_wiki_toggles

  #private_panel.tab_content
    = render file: "wikis/wikis/show", locals: {wiki: @private_wiki}

  #public_panel.tab_content{style: "display: none"}
    = render file: "wikis/wikis/show", locals: {wiki: @public_wiki}
