- cache(group_cache_key(@group, :what => 'user_members', :expires_in => hours(3))) do
  - users = @group.users.most_recently_active(:limit => 20)
  = entity_list(users, :header => :members.t)
  = link_line(:none, list_memberships_link, invite_link, requests_link)
