- cache(group_cache_key(@group, :what => 'user_members', :expires_in => hours(3))) do
  = entity_list(:entities => @group.users.most_recently_active(:limit => 10),
    :link_options => {:avatar => 'small'},
    :before => content_tag(:h3, :members.t),
    :after => link_line(:bullet, list_membership_link, invite_link, leave_group_link))
