.sidebox
  .padded
    = render :partial => 'sidebox'
    - if may_show_affiliations?
      = render :partial => 'groups/structures/show_in_sidebar'
    - if may_list_memberships?
      = render :partial => 'memberships'


