.sidebox
  = render :partial => 'sidebox'

.entity_list.on_background

  - if may_list_groups_members?
    = render :partial => 'memberships'

  - if may_show_affiliations?
    = render :partial => 'affiliations'

