- content_for :left_column do
  = render partial: 'sidecolumn'

- if should_render_group_wiki?
  = render partial: 'wikis'

%h2.pages{class: first(:heading)}
  = :recent_pages.t
.without_owner
  = render partial: 'common/pages/list'

