- if @options.show_sidebar
  #local.sidebar.on_right
    #column_center
      = render :partial => 'layouts/local/page/content'
    #column_right
      %nav#sidebar
        = render(:partial => 'pages/sidebar/sidebar')

- else
  #local.full_width
    #column_center
      = render :partial => 'layouts/local/page/content'

