#local
  - if @options.show_sidebar
    #column_center.with_right
      = render :partial => 'layouts/local/page/content'
    #column_right
      %nav#sidebar
        = render(:partial => 'pages/sidebar/sidebar')
  - else
    #column_center.full
      = render :partial => 'layouts/local/page/content'

