#title.page_title.shy_parent
  - if may_edit_page?
    .float_right
      = link_to_modal(:edit_title.t.titleize, {:url => edit_page_title_path(@page)}, {:class => 'shy', :icon => 'pencil'})
  %h1=h @page.title
  - if @page.summary.any?
    .summary= h @page.summary
  - if @title_addendum
    %span= @title_addendum

