-# 
-# display the wiki's html rendered text, potentially showing recent chanages.
-#

- if @last_seen
  = spinner('last_seen_diff', :show => true)
  = load_lasted_change_diff

- elsif show_inline_editor?
  = wiki_body_html_with_edit_form 

- else
  = wiki_body_html


