<% content_for :right_sidebar do %>
  <%= render :partial => 'pages/sidebar/sidebar' %>
<% end %>

<% render :partial => 'wiki_page/tabs' %>

<section id='wiki-content'>
  <div class='wiki'>
    <div id='wiki_html'>
      <%= render :partial => 'wiki_html' %>
    </div>
    <br style='clear:both' />
  </div><!-- end wiki -->
</section>
