-#
-# this is a partial for the top search controls.
-# which contain a text filter field and view controls. 
-#
-# requires variables:
-# * url - ie me_pages_path
-#
-# notes:
-#
-# form_remote_tag does not support the :with option, so we must use submit_to_remote.
-# 
-# when we specify :with, it overrides the default parameters used by submit_to_remote.
-# therefore, we must manually specify Form.serialize.
-# 
-# because we are not using form_remote_tag, we eat the return key and trigger a click
-# to the submit button.
-#
-# if the contents of the search text field are empty, then the params get set to :remove
-# instead of :add. ie params[:add] -> '/text/:text/'.
-# The :text is replaced with params[:text] by the path parser.
-#

- add_or_remove = "($('search_text_field').value ? 'add' : 'remove')+'=/text/:text/'"
- with = "#{add_or_remove}+'&'+FilterPath.encode()+'&'+Form.serialize(this.form)"
- filter_submit_options = {:url => url, :with => with, :loading => show_spinner('text_search_filter'), :complete => hide_spinner('text_search_filter'), :html => {:id => 'search_submit'}}
- key_pressed = "if (enterPressed(event)) {$('search_submit').click(); return false;}"

- form_tag do
  %table.search_controls_top
    %tr
      %td.view
        .toggle_bugs
          :ruby
            puts toggle_bug_links(
            { :label => 'compact',
              :url => params.merge(:view =>'compact'),
              :active => (params[:view] == 'compact' or params[:view].empty?) },
            { :label => 'detailed',
              :url => params.merge(:view => 'detailed'),
              :active => params[:view] == 'detailed' },
            { :label => 'grid',
              :url => params.merge(:view => 'grid'),
              :active => params[:view] == 'detailed' })
      %td.text_field
        = spinner('text_search_filter')
        = text_field_tag 'text', '', :id => 'search_text_field', :onkeypress => key_pressed
      %td.button
        = submit_to_remote 'search_submit', :search.t, filter_submit_options


