- @local_layout = 'sidebar'
= render partial: 'common/pages/search/top_controls'

#search_results{data: {search: 'path', href: page_search_path}}
  - if @path.present?
    = render partial: 'common/pages/list', locals: local_assigns
  - else
    = big_spinner

