-# this is set by the default theme to be the footer
-# but other themes often override it.

.full
  = language_select_tag

.full
  %div{:style => 'margin: 0px auto; width: 73px; height: 33px; background: url(/images/crabgrass.png)'}

- if Rails.env.development?
  .full
    = render :partial => 'common/debug/footer'

