-# this is set by the default theme to be the footer
-# but other themes often override it.

.row
  .col-xs-center
    = language_select_tag
.row
  .col-xs-offset-4.col-xs-4
    .p.center-block{style: 'width: 73px; height: 33px; background: url(/images/crabgrass.png)'}

- if Rails.env.development?
  %br
  %br
  .row
    .col-sm-12
      = render 'common/debug/footer'

