.directory
  - @groups.count.times do |i|
    - group = @groups[i]
    - if group
      .entry
        = render partial: 'group', locals: {group: group}
    - if @groups[i+1]
      .divider

= pagination_links(@groups, params: params.except(:utf8))

