.p.first= link_to :create_a_new_thing.t(:thing => :group.t), new_group_path, :icon => 'plus'
= render :partial => "common/entities/two_column", :locals => {:entities => @groups, :entity_partial => 'group'}



