.row.search.pull-right#group_search
  = form_tag groups_directory_path(:path => 'search'),
    :id => 'group_search_form',
    :class => 'form-search' do
    .input-append
      = text_field_tag 'name', @filter,
        :id => 'search_name_field',
        :class => 'search-query',
        :placeholder => 'Search all groups by name'
      %button.btn.btn-primary(type="submit") Search

%ul.directory
  - for group in @groups
    %li.entry= render :partial => 'group', :locals => {:group => group}
    %li.divider

.p
  = pagination_links(@groups)
