.row.search.pull-right#group_search
  = form_tag groups_directory_path(path: 'search'),
    id: 'group_search_form',
    method: :get,
    remote: true,
    class: 'form-search' do
    #autocomplete_container.input-append
      = autocomplete_input_tag 'q', 'groups',
        value: @filter,
        id: 'autocomplete_groups',
        class: 'search-query',
        placeholder: 'Search all groups by name'
      %button.btn.btn-primary(type="submit") Search

.row.clear

#group_list= render 'groups'
