
- form_tag(me_profile_path, :method => 'put') do
  = formy(:table_form) do |f|
    - f.row do |r|
      - r.label :first_name.tcap
      - r.input text_field(:profile, :first_name)
    - f.row do |r|
      - r.label :last_name.tcap
      - r.input text_field(:profile, :last_name)
    - f.row do |r|
      - r.label :organization.tcap
      - r.input text_field(:profile, :organization)
    - f.row do |r|
      - r.label :organizational_role.tcap
      - r.input text_field(:profile, :role)
    - f.row do |r|
      - r.label :phone_number.tcap
      - r.input text_field_tag("profile[phone_numbers][0][phone_number]", @profile.phone_numbers[0].try.phone_number)
      - r.input text_field_tag("profile[phone_numbers][0][phone_number_type]", 'Home', :hidden => true)
    - f.row do |r|
      - r.label :email_addresses.tcap
      - r.input text_field_tag("profile[email_addresses][0][email_address]", @profile.email_addresses[0].try.email_address)
      - r.input text_field_tag("profile[email_addresses][0][email_type]", 'Home', :hidden => true)
    - f.row do |r|
      - r.label :description.tcap
      - r.input text_area_tag("profile[notes][0][body]", @profile.notes[0].try.body)
    - f.buttons submit_tag(:save_button.t, :name => 'save')

