= form_tag(me_profile_path, method: 'put', multipart: true) do
  = formy(:horizontal_form) do |f|
    - f.label :information.t
    - f.row do |r|
      - r.label :place.tcap
      - r.input text_field(:profile, :place, class: 'form-control')
    - f.row do |r|
      - r.label :organization.tcap
      - r.input text_field(:profile, :organization, class: 'form-control')
    - f.row do |r|
      - r.label :organizational_role.tcap
      - r.input text_field(:profile, :role, class: 'form-control')
    - f.row do |r|
      - r.label :summary.tcap
      - r.input text_area(:profile, :summary, rows: 5, class: 'form-control')
    - if @profile.summary_html.present?
      - f.row do |r|
        - r.label "%s (%s)" % [:summary.tcap, :preview.t]
        - r.input @profile.summary_html
    - f.row do |r|
      - r.label "PGP Public Key"
      - r.input text_area_tag("profile[crypt_keys][0][key]", @profile.crypt_keys[0].try.key, rows: 5, class: 'form-control', placeholder: "Enter a public PGP Key")
    - if @profile.crypt_keys.any?
      - f.row do |r|
        - r.label "Fingerprint"
        - r.input @profile.crypt_keys[0].try.fingerprint
    - f.label :banner.t
    - banner_field(f)
    - f.button submit_tag(:save_button.t, name: 'save', class: 'btn btn-primary')
    - f.button link_to(:view_profile.t, entity_path(@current_user), class: 'btn btn-default')
