// used in Add Images to gallery modal box

.hook {
  position: relative;
  overflow: hidden;
}

#upload-filename {
  margin-right: 10px;
}

#upload-progress {
  margin: 20px;
}

.drop {
  border:lightgray dotted 3px;
  padding:10px;
  color:#888;
  display:block;
  border-radius: 10px;
  margin: 10px;
}


.drop.dragging {
  border:gray dotted 3px;
}

.file.handler {
  opacity: 0;
  position: absolute;
  font-size: 20px;
  height: 50px;
  top: -5px;
  right: 0px;
  width: 440px;
  z-index: 1;
  cursor: pointer;
}
