.ranked-vote, .rate-many {

  #progress,  #instructions {
    padding: 0.5em;
    background-color: #ffeeaa;
    border: 1px solid #eebb00;
    margin: 1em;
  }

  ul {
    &.possible_list li {
      margin: 0 3em 0 3em;
      padding: 4px 16px;
      cursor: move;
      line-height: 24px;
      border: 1px solid #fff;
      border-radius: 0.5em;
      &:hover {
        .edit {
          display: inline;
        }
        border-color: #ddd;
      }
      .edit {
        display: none;
      }
    }
    &.possibles {
      margin: 0 1em;
      cursor: move;
      li {
        clear: both;
        div.rank {
          float: left;
          display: inline;
          color: #55bbff;
          font-size: 36px;
          margin-left: -30px;
        }
        &.winner {
          background-color: #ffffaa;
        }
      }
    }
  }

  li#add_possible_link {
    margin-top: 2em;
    background: #eeeeee;
    padding: 10px;
    cursor: default;
  }

  div {
    &.name {
      font-weight: bold;
    }
    &.possible_details {
      margin: 6px;
      color: #666666;
    }
  }

  span.winner {
    display: block;
    float: right;
  }
}

.ranked-vote {
  ul.possibles {
    margin: 1em;
    li {
      padding: 10px 10px 14px 44px;
    }
  }
}




.rate-many {
  ul.possibles li {
    border: 1px solid #ddd;
    border-radius: 0.5em;
    list-style: none;
    margin: 0.5em 0;
  }

  ul.possibles li > div {
    padding: 0.5em 1em;
    border-radius: 0.5em;
  }

  ul.possibles {margin-left: 0; padding-left: 0;}
  ul.possibles li h2 {margin: 0 0 2px 1.5em; font-size: 1em}
  ul.possibles label {
    vertical-align: center;
    display: block;
  }
  ul.possibles label:hover {
    background: #fff;
    outline: 1px dotted black;
  }
  ul.possibles input[type=radio] {
    vertical-align: top;
  }
  ul.possibles span {opacity: 0.25}

  div#new_possible {
    background: #f5f5f5;
    padding: 0.5em 1em;
    margin: 0.5em 1em 2em 0;
    border-radius: 0.5em;
    border: 1px solid #ddd;
  }
}
