%h2.space-ui-bottom.first
  = :notices.t
  - if @notices.any?
    .dismiss-all-notices-btn.pull-right
      = dismiss_all_notices_button
- if @notices.any?
  %table#notice_list.shaded
    = render partial: 'notice', collection: @notices
  .notices-pagination-wrapper
    = pagination_links @notices
