-#
-# note: the cache needs to go within the permission check
-# otherwise we are caching stuff for people who shouldn't see it.
-#
- if may_list_group_committees?
  - cache [current_language, @group.version_cache_key, :committees] do
    - if @group.real_committees.size > 0
      = entity_list(@group.real_committees, header: :committees.t)
      -# , after: link_line(create_committee_link))
    - if @group.has_a_council?
      = entity_list([@group.council], header: :council.t)
- if @group.network? and may_list_memberships?
  - cache [current_language, @group.version_cache_key, :members] do
    = entity_list(@group.groups, header: :member_groups_of_network.t)
    -#after: link_line(:bullet, list_memberships_link, invite_link, requests_link))
- if may_list_group_networks?
  - cache [current_language, @group.version_cache_key, :networks] do
    = entity_list(@group.networks, header: :networks.t)
