-#
-# note: the cache needs to go within the permission check
-# otherwise we are caching stuff for people who shouldn't see it.
-#
- if may_list_group_committees?
  - cache group_cache_key(@group, :what => 'committees'), :expires_in => hours(3) do
    - if @group.real_committees.size > 0
      = entity_list(@group.real_committees, :header => :committees.t)
      -# , :after => link_line(create_committee_link))
    - if @group.has_a_council?
      = entity_list([@group.council], :header => :council.t)
- if @group.network? and may_list_memberships?
  - cache group_cache_key(@group, :what => 'group_members'), :expires_in => hours(3) do
    = entity_list(@group.groups, :header => :member_groups_of_network.t)
    -#:after => link_line(:bullet, list_memberships_link, invite_link, requests_link))
- if may_list_group_networks?
  - cache group_cache_key(@group, :what => 'networks'), :expires_in => hours(3) do
    = entity_list(@group.networks, :header => :networks.t)
