-#
-# note: the cache needs to go within the permission check
-# otherwise we are caching stuff for people who shouldn't see it.
-#
- if may_list_group_committees?
  - cache(group_cache_key(@group, :what => 'committees', :expires_in => hours(3))) do
    - if @group.real_committees.size > 0
      = entity_list(:committees.t, @group.real_committees)
      -# , :after => link_line(create_committee_link))
    - if @group.real_council
      = entity_list(:council.t, [@group.real_council])
- if @group.network? and may_list_memberships?
  - cache(group_cache_key(@group, :what => 'group_members', :expires_in => hours(3))) do
    = entity_list(:member_groups_of_network.t, @group.groups)
    -#:after => link_line(:bullet, list_memberships_link, invite_link, requests_link))
- if may_list_group_networks?
  - cache(group_cache_key(@group, :what => 'networks', :expires_in => hours(3))) do
    = entity_list(:networks.t, @group.networks)