- asset = asset_as_li || @asset
%li.asset.box[asset]
  = link_to_asset asset, :small, :crop => '70x70'
  = remove_asset_button asset
  .clear
  %h3= link_to h(truncate(asset.basename, :length => 20)), asset.url
