-# this is currently unused - assets come in lists now.
- asset = asset_as_row
%tr[asset]{class: cycle('even','odd')}
  -# TODO: fix styles so that we don't have to force no padding here
  %td
    = update_cover_asset_checkbox asset
  %td{style: 'width: 1%'}
    = link_to_asset asset, :small
  %td
    = link_to h(asset.filename), asset.url
  %td
    = remove_asset_link asset
