- # use the asset_upload_form_for helper to use this partial!

- # status messages and progress bar go here:
#upload-progress.alert.hide{'data-pending_message' => :files_pending.t}

- form_for([target, Asset.new], upload_form_options(local_assigns)) do |f|
  #upload-drop.drop(style="text-align:center")
    %p(style="font-size: 20px")= :drop_files_here.t
    %p=:or.t
    #file-select.upload.btn.btn-primary.hook
      %input#upload-input.file.handler{:type=>"file",
        :name => "our-file",
        :multiple => local_assigns[:single] ? false : "multiple"}
        = :select_files.t

