-# This is a file upload that uses an iframe.
-#
-# Options:
-# * target -> Object to add the asset to, currently we support Wiki and Page

- form_for([target, @asset ||= Asset.new], :html => {:multipart => true, :target => 'upload_frame'}) do |f|
  = f.file_field 'uploaded_data', :size => '12'
  = f.submit :upload.t
  = spinner 'upload'
%iframe#upload_frame{:name => :upload_frame, :src=>'about:blank'}

