- # use the asset_upload_form_for helper to use this partial!

- # status messages and progress bar go here:
#current-upload.hidden

- form_for([target, Asset.new], :html => {:enctype=>"multipart/form-data", :id=>'form-id'}) do |f|
  #file-drop.drop.hero-unit
    -if local_assigns[:message]
      %p=message
    %p Drop files here or click the button
    #file-select.upload.btn.btn-primary.btn-large.hook
      %input#file-id.file.handler(multiple="multiple" type="file" name="our-file")
        Select files

