-# This is a file upload that uses an iframe.
-#
-# Options:
-# * target -> Object to add the asset to, currently we support Wiki and Page

#current-upload.hidden.alert
  %span#upload-filename.left
  .progress-container
    #upload-progress.bar(style="width: 0%")
  %span#upload-message.left

- form_for([@page.becomes(Page), Asset.new], :html => {:enctype=>"multipart/form-data", :id=>'form-id'}) do |f|
  #file-drop.drop.her-unit
    %h2 Add assets to the page... </h2>
    %p Drop them here or click the button
    #file-sleect.upload.btn.btn-primary.btn-large.hook
      %input#file-id.file.handler(multiple="multiple" type="file" name="our-file")
        Select files

