-#
-# display a fancy clickable sliding list
-#
-# requires:
-#   items -- e.g. '@requests'
-#   path_method -- e.g. 'request_path'
-#
-# optional:
-#   header -- html that goes in the left panel, above the list itself.
-#

- items_name = items.sub('@','')
- item_name = items_name.singularize.to_sym
- @items = eval(items)

.sliding-list-clip
  #sliding-list
    .left-panel
      = local_assigns[:header]
      %ul.clickable.round
        - @items.each do |item|
          %li{:onmousedown => activate_sliding_row(self.send(path_method, item)), :class => (once?(:clickable) ? 'first round-top' : '')}
            = render :partial => partial, :locals => {item_name => item}
      .p.last= local_assigns[:footer]
    .right-panel
      #sliding-item
        = big_spinner