%ul#search_controls_active
  - if @path.empty?
    = filter_checkbox_li_tag :remove, filter_all
  - for path_segment in @path
    - if (filter = get_filter_definition(path_segment)).any?
      = filter_checkbox_li_tag :remove, filter

