= refresh_sidebar_on_close
= formy(:simple_form) do |f|
  - f.label :current_attachments.t
  - f.row do |r|
    - r.input popup_attachment_list(@page.assets)
  - f.label :add_new_attachment.t
  - f.row do |r|
    - r.input asset_upload_form_for(@page)
  - f.button close_modal_button
