!!!
%html{dir:language_direction}
  %head
    %title
      =h html_title
    %style
      a.anchor, a.shy {display:none;}
      @media print { .screen-only {display: none}}
  %body{class:language_direction}
    %button.screen-only{:onclick => 'window.history.back()',}= :back.t
    %h3
      =h html_title
    %article#content
      = yield
    -# if @posts.present?
      %div.comments
        %h2
          = :comments.t
        = render partial: 'pages/posts/printer_friendly', collection: @posts
