<html>
<head>
  <title><%= params[:action] %></title>
  <style>
    <%= yield :style %>
  </style>  
</head>
<body>
<%# FIXME: see comment in LayoutHelper#crabgrass_javascripts for details on @_content_for %>
<%= @_content_for[:layout] %>
</body>
</html>
