%h2= :reset_password.t

.p= :reset_password_text.t :user => @user.login

= form_tag do
  = formy(:table_form) do |f|
    - f.row do |r|
      - r.label label_tag('login', :your_login.t) 
      - r.input text_field_tag(:login, @user.login, :disabled => true)
    - f.row do |r|
      -# call this new_password instead of password so as not to have the same id as the on-every-page login form...
      - r.label label_tag('new_password', :new_password.t)
      - r.input password_field_tag(:new_password)
    - f.row do |r|
      - r.label label_tag("password_confirmation", :confirm_new_password.t)
      - r.input password_field_tag(:password_confirmation)
    - f.buttons submit_tag(:reset_password.t)
  
