.col-lg-center
  %h1= :reset_password.t
  .p= :reset_password_text.t user: @user.login

  = form_tag(params.permit(:token)) do
    = formy(:simple_form) do |f|
      - f.row do |r|
        - r.label :login.t
        - r.input text_field_tag(:login, @user.login, disabled: true, class: 'form-control')
      - f.row do |r|
        -# call this new_password instead of password so as not to have the same id as the on-every-page login form...
        - r.label :new_password.t
        - r.input password_field_tag(:new_password, class: 'form-control')
      - f.row do |r|
        - r.label :confirm_new_password.t
        - r.input password_field_tag(:password_confirmation, class: 'form-control')
      - f.button submit_tag(:reset_password.t, class: 'btn btn-primary')

