- cache(group_cache_key(@user, :what => 'groups', :expires_in => hours(3))) do
  = entity_list(:entities => @user.groups.recently_active(:limit => 10),
    :avatar => 'small',
    :before => content_tag(:h3, :groups.t),
    :after => '')

