- cache [current_language, @user.version_cache_key, @current_user.version_cache_key] do
  %h3= :shared_groups.t
  = render 'groups/list_with_committees',
    groups: @user.groups.with_member(current_user).recently_active
- cache [current_language, @user.version_cache_key] do
  %h3= :public_groups.t
  = render 'groups/list_with_committees',
    groups: @user.groups.with_access(public: :view).recently_active

